<aside class='sticky top-0 left-0 h-screen overflow-y-auto w-3/12'>
	<nav class='bg-surface-2 p-32'>
		<h1 class='text-22 font-bold border-b border-alpha-1 mb-24 pb-6'>
			@volverjs/style
		</h1>
		<ul style='list-style: none; list-style-position: inside'>
			<li class='font-normal text-word-2 my-12'>
				<a href='#components'>Components</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#component__vv-badge'>vv-badge</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#component__vv-button'>vv-button</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#component__vv-button-group'>vv-button-group</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#component__vv-loader'>vv-loader</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#component__vv-collapse'>vv-collapse</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#component__vv-input-radio'>vv-input-radio</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a
					href='#component__vv-input-radio-group'
				>vv-input-radio-group</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#component__vv-input-text'>vv-input-text</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#component__vv-select'>vv-select</a>
			</li>
			<li class='font-normal text-word-2 mt-6 my-12'>
				<a href='#layout'>Layout</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#layout__aspect-ratio'>Aspect Ratio</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#layout__container'>Container</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#layout__columns'>Columns</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#layout__break-after'>Break After</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#layout__break-before'>Break Before</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#layout__break-inside'>Break Inside</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#layout__display'>Display</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#layout__object-fit'>Object Fit</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#layout__object-position'>Object Position</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#layout__overflow'>Overflow</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#layout__position'>Position</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#layout__visibility'>Visibility</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#layout__top-right-bottom-left'>Top / Right / Bottom /
					Left</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#layout__z-index'>Z-Index</a>
			</li>
			<li class='font-normal text-word-2 mt-6 my-12'>
				<a href='#flexbox-grid'>Flexbox & Grid</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#flexbox-grid__flex-direction'>Flex Direction</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#flexbox-grid__flex-wrap'>Flex Wrap</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#flexbox-grid__flex'>Flex</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#flexbox-grid__flex-grow'>Flex Grow</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#flexbox-grid__order'>Order</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#flexbox-grid__grid-template-columns'>Grid Template Columns</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#flexbox-grid__grid-column-start-end'>Grid Column Start / End</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#flexbox-grid__grid-template-rows'>Grid Template Rows</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#flexbox-grid__grid-row-start-end'>Grid Row Start / End</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#flexbox-grid__grid-auto-flow'>Grid Auto Flow</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#flexbox-grid__grid-auto-columns'>Grid Auto Columns</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#flexbox-grid__grid-auto-rows'>Grid Auto Rows</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#flexbox-grid__gap'>Gap</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#flexbox-grid__justify-content'>Justify Content</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#flexbox-grid__justify-items'>Justify Items</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#flexbox-grid__justify-self'>Justify Self</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#flexbox-grid__align-content'>Align Content</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#flexbox-grid__align-items'>Align Items</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#flexbox-grid__align-self'>Align Self</a>
			</li>
			<li class='font-normal text-word-2 mt-6 my-12'>
				<a href='#spacing'>Spacing</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#spacing__padding'>Padding</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#spacing__margin'>Margin</a>
			</li>
			<li class='font-normal text-word-2 mt-6 my-12'>
				<a href='#sizing'>Sizing</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#sizing__width'>Width</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#sizing__min-width'>Min-Width</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#sizing__max-width'>Max-Width</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#sizing__height'>Height</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#sizing__min-height'>Min-Height</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#sizing__max-height'>Max-Height</a>
			</li>
			<li class='font-normal text-word-2 mt-6 my-12'>
				<a href='#typography'>Typography</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__font-family'>Font Family</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__font-size'>Font Size</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__font-smoothing'>Font Smoothing</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__font-style'>Font Style</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__font-weight'>Font Weight</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__font-variant-numeric'>Font Variant Numeric</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__letter-spacing'>Letter Spacing</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__line-height'>Line Height</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__list-style-type'>List Style Type</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__list-style-position'>Line Style Position</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__text-align'>Text Align</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__text-color'>Text Color</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__text-decoration-line'>Text Decoration Line</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__text-decoration-color'>Text Decoration
					Color</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__text-decoration-style'>Text Decoration
					Style</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__text-decoration-thickness'>Text Decoration
					Thickness</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__text-overflow'>Text Overflow</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__text-transform'>Text Transform</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__text-underline-offset'>Text Underline
					Offset</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__vertical-align'>Vertical Align</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__whitespace'>Whitespace</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#typography__word-break'>Word Break</a>
			</li>
			<li class='font-normal text-word-2 mt-6 my-12'>
				<a href='#backgrounds'>Backgrounds</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#backgrounds__background-attachment'>Background
					Attachment</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#backgrounds__background-clip'>Background Clip</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#backgrounds__background-color'>Background Color</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#backgrounds__background-origin'>Background Origin</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#backgrounds__background-position'>Background Position</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#backgrounds__background-repeat'>Background Repeat</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#backgrounds__background-size'>Background Size</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#backgrounds__background-image'>Background Image</a>
			</li>
			<li class='font-normal text-word-2 mt-6 my-12'>
				<a href='#borders'>Borders</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#borders__border-radius'>Border Radius</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#borders__border-width'>Border Width</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#borders__border-color'>Border Color</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#borders__border-style'>Border Style</a>
			</li>
			<li class='font-normal text-word-2 mt-6 my-12'>
				<a href='#effects'>Effects</a>
			</li>
			<li class='font-light text-word-3 mb-6'>
				<a href='#effects__blend-mode'>Mix Blend Mode</a>
			</li>
		</ul>
	</nav>
</aside>