<section
	id='colors'
	class='container lg:columns-2 gap-xl mx-auto bg-surface py-xl'
>
	<header>
		<h1 class='font-bold text-lg pb-16'>Colors</h1>
	</header>
	<div class='flex pt-16'>
		<div class='flex mr-auto items-center pr-16'>Text: </div>
		<div class='bg-text p-16'></div>
		<div class='bg-text-1 p-16'></div>
		<div class='bg-text-2 p-16'></div>
		<div class='bg-text-3 p-16'></div>
		<div class='bg-text-4 p-16'></div>
		<div class='bg-text-5 p-16'></div>
	</div>
	<div class='flex pt-16'>
		<div class='flex mr-auto items-center pr-16'>Surface: </div>
		<div class='bg-surface p-16'></div>
		<div class='bg-surface-1 p-16'></div>
		<div class='bg-surface-2 p-16'></div>
		<div class='bg-surface-3 p-16'></div>
		<div class='bg-surface-4 p-16'></div>
		<div class='bg-surface-5 p-16'></div>
	</div>
	<div class='flex pt-16'>
		<div class='flex mr-auto items-center pr-16'>Shadow: </div>
		<div class='bg-shadow p-16'></div>
	</div>
	<div class='flex pt-16'>
		<div class='flex mr-auto items-center pr-16'>Brand: </div>
		<div class='bg-brand-lighten-5 p-16'></div>
		<div class='bg-brand-lighten-4 p-16'></div>
		<div class='bg-brand-lighten-3 p-16'></div>
		<div class='bg-brand-lighten-2 p-16'></div>
		<div class='bg-brand-lighten-1 p-16'></div>
		<div class='bg-brand p-16'></div>
		<div class='bg-brand-darken-1 p-16'></div>
		<div class='bg-brand-darken-2 p-16'></div>
		<div class='bg-brand-darken-3 p-16'></div>
		<div class='bg-brand-darken-4 p-16'></div>
		<div class='bg-brand-darken-5 p-16'></div>
	</div>
	<div class='flex pt-16'>
		<div class='flex mr-auto items-center pr-16'>Positive: </div>
		<div class='bg-success-lighten-5 p-16'></div>
		<div class='bg-success-lighten-4 p-16'></div>
		<div class='bg-success-lighten-3 p-16'></div>
		<div class='bg-success-lighten-2 p-16'></div>
		<div class='bg-success-lighten-1 p-16'></div>
		<div class='bg-success p-16'></div>
		<div class='bg-success-darken-1 p-16'></div>
		<div class='bg-success-darken-2 p-16'></div>
		<div class='bg-success-darken-3 p-16'></div>
		<div class='bg-success-darken-4 p-16'></div>
		<div class='bg-success-darken-5 p-16'></div>
	</div>
	<div class='flex pt-16'>
		<div class='flex mr-auto items-center pr-16'>Negative: </div>
		<div class='bg-danger-lighten-5 p-16'></div>
		<div class='bg-danger-lighten-4 p-16'></div>
		<div class='bg-danger-lighten-3 p-16'></div>
		<div class='bg-danger-lighten-2 p-16'></div>
		<div class='bg-danger-lighten-1 p-16'></div>
		<div class='bg-danger p-16'></div>
		<div class='bg-danger-darken-1 p-16'></div>
		<div class='bg-danger-darken-2 p-16'></div>
		<div class='bg-danger-darken-3 p-16'></div>
		<div class='bg-danger-darken-4 p-16'></div>
		<div class='bg-danger-darken-5 p-16'></div>
	</div>
	<div class='flex pt-16'>
		<div class='flex mr-auto items-center pr-16'>Warning: </div>
		<div class='bg-warning-lighten-5 p-16'></div>
		<div class='bg-warning-lighten-4 p-16'></div>
		<div class='bg-warning-lighten-3 p-16'></div>
		<div class='bg-warning-lighten-2 p-16'></div>
		<div class='bg-warning-lighten-1 p-16'></div>
		<div class='bg-warning p-16'></div>
		<div class='bg-warning-darken-1 p-16'></div>
		<div class='bg-warning-darken-2 p-16'></div>
		<div class='bg-warning-darken-3 p-16'></div>
		<div class='bg-warning-darken-4 p-16'></div>
		<div class='bg-warning-darken-5 p-16'></div>
	</div>
	<div class='flex pt-16'>
		<div class='flex mr-auto items-center pr-16'>Info: </div>
		<div class='bg-info-lighten-5 p-16'></div>
		<div class='bg-info-lighten-4 p-16'></div>
		<div class='bg-info-lighten-3 p-16'></div>
		<div class='bg-info-lighten-2 p-16'></div>
		<div class='bg-info-lighten-1 p-16'></div>
		<div class='bg-info p-16'></div>
		<div class='bg-info-darken-1 p-16'></div>
		<div class='bg-info-darken-2 p-16'></div>
		<div class='bg-info-darken-3 p-16'></div>
		<div class='bg-info-darken-4 p-16'></div>
		<div class='bg-info-darken-5 p-16'></div>
	</div>
	<div class='flex pt-16'>
		<div class='flex mr-auto items-center pr-16'>Accent: </div>
		<div class='bg-accent-lighten-5 p-16'></div>
		<div class='bg-accent-lighten-4 p-16'></div>
		<div class='bg-accent-lighten-3 p-16'></div>
		<div class='bg-accent-lighten-2 p-16'></div>
		<div class='bg-accent-lighten-1 p-16'></div>
		<div class='bg-accent p-16'></div>
		<div class='bg-accent-darken-1 p-16'></div>
		<div class='bg-accent-darken-2 p-16'></div>
		<div class='bg-accent-darken-3 p-16'></div>
		<div class='bg-accent-darken-4 p-16'></div>
		<div class='bg-accent-darken-5 p-16'></div>
	</div>
	<div class='flex pt-16'>
		<div class='flex mr-auto items-center pr-16'>Gray: </div>
		<div class='bg-gray-lighten-5 p-16'></div>
		<div class='bg-gray-lighten-4 p-16'></div>
		<div class='bg-gray-lighten-3 p-16'></div>
		<div class='bg-gray-lighten-2 p-16'></div>
		<div class='bg-gray-lighten-1 p-16'></div>
		<div class='bg-gray p-16'></div>
		<div class='bg-gray-darken-1 p-16'></div>
		<div class='bg-gray-darken-2 p-16'></div>
		<div class='bg-gray-darken-3 p-16'></div>
		<div class='bg-gray-darken-4 p-16'></div>
		<div class='bg-gray-darken-5 p-16'></div>
	</div>
</section>