<section id='flexbox-grid__align-items' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Align Items</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling how flex and grid items are positioned along a container's cross axis.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						align-items-start
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						align-items: flex-start;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						align-items-end
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						align-items: flex-end;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						align-items-center
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						align-items: center;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						align-items-baseline
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						align-items: baseline;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						align-items-stretch
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						align-items: stretch;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>