<section id='flexbox-grid__align-self' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Align Self</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling how an individual flex or grid item is positioned along its container's cross axis.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				{{#each justify-align-self}}
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						self-{{@key}}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
					align-self: {{this}};
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<div class="container h-full rounded-md bg-surface-1 p-24">
		<div class="flex flex-wrap justify-around gap-4">
			<div class="w-full h-100 flex flex-wrap justify-around items-start border-b border-alpha-1 mb-24 pb-24">
				<div class="w-100 rounded-md py-10 bg-info text-center">I'm not self</div>
				<div class="w-100 self-auto rounded-md py-10 bg-info text-center">I'm self</div>
				<div class="w-100 rounded-md py-10 bg-info text-center">I'm not self</div>
			</div>
			<div class="w-full h-100 flex flex-wrap justify-around items-start border-b border-alpha-1 mb-24 pb-24">
				<div class="w-100 rounded-md py-10 bg-info text-center">I'm not self</div>
				<div class="w-100 self-start rounded-md py-10 bg-info text-center">I'm self</div>
				<div class="w-100 rounded-md py-10 bg-info text-center">I'm not self</div>
			</div>
			<div class="w-full h-100 flex flex-wrap justify-around items-start border-b border-alpha-1 mb-24 pb-24">
				<div class="w-100 rounded-md py-10 bg-info text-center">I'm not self</div>
				<div class="w-100 self-end rounded-md py-10 bg-info text-center">I'm self</div>
				<div class="w-100 rounded-md py-10 bg-info text-center">I'm not self</div>
			</div>
			<div class="w-full h-100 flex flex-wrap justify-around items-start border-b border-alpha-1 mb-24 pb-24">
				<div class="w-100 rounded-md py-10 bg-info text-center">I'm not self</div>
				<div class="w-100 self-center rounded-md py-10 bg-info text-center">I'm self</div>
				<div class="w-100 rounded-md py-10 bg-info text-center">I'm not self</div>
			</div>
			<div class="w-full h-100 flex flex-wrap justify-around items-start">
				<div class="w-100 rounded-md py-10 bg-info text-center">I'm not self</div>
				<div class="w-100 self-baseline rounded-md py-10 bg-info text-center">I'm self</div>
				<div class="w-100 rounded-md py-10 bg-info text-center">I'm not self</div>
			</div>
		</div>
	</div>
</section>