<section id='flexbox-grid__flex' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Flex</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling how flex items both grow and shrink.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				{{#each flex}}
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						flex-{{@key}}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
					flex: {{this}};
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<div class="container h-full rounded-md bg-surface-1 p-24">
		<div class="flex flex-row justify-between gap-md border-b border-alpha-1 mb-24 pb-24">
			<div class="w-100 flex-1 rounded-md py-10 bg-info text-center">Flex-1</div>
			<div class="w-100 rounded-md py-10 bg-info text-center"></div>
			<div class="w-100 rounded-md py-10 bg-info text-center"></div>
		</div>
		<div class="flex flex-row justify-between gap-md border-b border-alpha-1 mb-24 pb-24">
			<div class="w-100 flex-auto rounded-md py-10 bg-info text-center">Flex-auto</div>
			<div class="w-100 rounded-md py-10 bg-info text-center"></div>
			<div class="w-100 rounded-md py-10 bg-info text-center"></div>
		</div>
		<div class="flex flex-row justify-between gap-md border-b border-alpha-1 mb-24 pb-24">
			<div class="w-100 flex-initial rounded-md py-10 bg-info text-center">Flex-initial</div>
			<div class="w-100 rounded-md py-10 bg-info text-center"></div>
			<div class="w-100 rounded-md py-10 bg-info text-center"></div>
		</div>
		<div class="flex flex-row justify-between gap-md">
			<div class="w-100 flex-none rounded-md py-10 bg-info text-center">Flex none</div>
			<div class="w-100 rounded-md py-10 bg-info text-center"></div>
			<div class="w-100 rounded-md py-10 bg-info text-center"></div>
		</div>
	</div>
</section>