<section id='flexbox-grid__flex-direction' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Flex Direction</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the direction of flex items.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						flex-row
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						flex-direction: row;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						flex-row-reverse
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						flex-direction: row-reverse;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						flex-col
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						flex-direction: column;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						flex-col-reverse
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						flex-direction: col-reverse;
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="relative container h-full rounded-md bg-surface-1 p-24">
		{{!-- <div class="absolute inset-0 bg-grid mix-blend-soft-light"></div>
		<div class="relative"> --}}
			<div class="flex flex-row justify-between border-b border-alpha-1 mb-24 pb-24">
				<div class="p-10 bg-info rounded-sm">1</div>
				<div class="p-10 bg-info rounded-sm">2</div>
				<div class="p-10 bg-info rounded-sm">3</div>
			</div>
			<div class="flex flex-row-reverse justify-between border-b border-alpha-1 mb-24 pb-24">
				<div class="p-10 bg-info rounded-sm">1</div>
				<div class="p-10 bg-info rounded-sm">2</div>
				<div class="p-10 bg-info rounded-sm">3</div>
			</div>
			<div class="flex flex-col items-center border-b border-alpha-1 mb-24 pb-24">
				<div class="w-1/2 p-10 mb-8 bg-info text-center rounded-sm">1</div>
				<div class="w-1/2 p-10 mb-8 bg-info text-center rounded-sm">2</div>
				<div class="w-1/2 p-10 bg-info text-center rounded-sm">3</div>
			</div>
			<div class="flex flex-col-reverse items-center">
				<div class="w-1/2 p-10 bg-info text-center rounded-sm">1</div>
				<div class="w-1/2 p-10 mb-8 bg-info text-center rounded-sm">2</div>
				<div class="w-1/2 p-10 mb-8 bg-info text-center rounded-sm">3</div>
			</div>
		{{!-- </div> --}}
	</div>
</section>