<section id='flexbox-grid__gap' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Gap</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling gutters
		between grid and flexbox items.
	</h2>

	<details class='font-light text-word-4 mb-16'>
		<summary>Spacing & Spacing-dynamic</summary>
		<div class='max-h-288 overflow-y-auto mb-32'>
			<table class='vv-table'>
				<thead class='sticky z-sticky top-0 bg-surface'>
					<tr>
						<th>
							Spacer size
						</th>
						<th>
							Spacer value
						</th>
					</tr>
				</thead>
				<tbody class='align-baseline'>
					{{#each spacers}}
						<tr>
							<td
								translate='no'
								class='font-mono text-accent whitespace-wrap'
							>

								{{@key}}
							</td>
							<td
								translate='no'
								class='font-mono text-info whitespace-wrap'
							>
								{{this}}
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</details>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						gap-{spacer-size}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						gap: {spacer-value};
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						gap-x-{spacer-size}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						column-gap: {spacer-value};
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						gap-y-{spacer-size}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						row-gap: {spacer-value};
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class='relative container h-full rounded-md bg-surface-1 p-24'>
		<div class='absolute inset-0 bg-grid mix-blend-plus-lighter'></div>
		<div class='relative w-full flex flex-wrap justify-center gap-20'>
			<div class='w-100 rounded-md py-10 bg-info text-center'>1</div>
			<div class='w-100 rounded-md py-10 bg-info text-center'>2</div>
			<div class='w-100 rounded-md py-10 bg-info text-center'>3</div>
			<div class='w-100 rounded-md py-10 bg-info text-center'>4</div>
			<div class='w-100 rounded-md py-10 bg-info text-center'>5</div>
			<div class='w-100 rounded-md py-10 bg-info text-center'>6</div>
		</div>
	</div>
</section>