<section id='flexbox-grid__grid-template-rows' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Grid Template Rows</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for specifying the rows in a grid layout.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				{{#each grid-template-rows}}
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						grid-rows-{{@key}}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
					grid-template-rows: {{this}};
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</section>