<section id='flexbox-grid__grid-template-rows' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Grid Template Rows</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for specifying the rows in a grid layout.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				{{#each grid-template-rows}}
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						grid-rows-{{@key}}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
					grid-template-rows: {{this}};
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<div class='relative container h-full rounded-md bg-surface-1 p-24'>
		<div class='absolute inset-0 bg-grid mix-blend-plus-lighter'></div>
		<div class='relative grid grid-cols-3 grid-rows-2 gap-10'>
			<div
				class='rounded-md p-10 bg-info text-center'
			>1</div>
			<div
				class='rounded-md p-10 bg-info text-center'
			>2</div>
			<div
				class='rounded-md p-10 bg-info text-center'
			>3</div>
			<div
				class='rounded-md p-10 bg-info text-center'
			>4</div>
			<div
				class='rounded-md p-10 bg-info text-center'
			>5</div>
			<div
				class='rounded-md p-10 bg-info text-center'
			>6</div>
			<div
				class='rounded-md p-10 bg-info text-center'
			>7</div>
			<div
				class='rounded-md p-10 bg-info text-center'
			>8</div>
			<div
				class='rounded-md p-10 bg-info text-center'
			>9</div>
		</div>
	</div>
</section>