<section id='flexbox-grid__justify-content' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Justify Content</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling how flex and grid items are positioned along a container's main axis.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						justify-start
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						justify-content: flex-start;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						justify-end
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						justify-content: flex-end;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						justify-center
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						justify-content: center;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						justify-between
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						justify-content: space-between;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						justify-around
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						justify-content: space-around;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						justify-evenly
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						justify-content: space-evenly;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>