<section id='flexbox-grid__justify-self' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Justify Self</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling how an individual grid item is aligned along its inline axis.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						justify-self-auto
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						justify-self: auto;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						justify-self-start
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						justify-self: flex-start;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						justify-self-end
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						justify-self: flex-end;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						justify-self-center
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						justify-self: center;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						justify-self-baseline
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						justify-self: baseline;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						justify-self-stretch
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						justify-self: stretch;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>