<section id='flexbox-grid__justify-self' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Justify Self</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling how an individual grid item is aligned along its inline axis.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				{{#each justify-align-self}}
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						justify-self-{{@key}}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
					justify-self: {{this}};
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<div class="container h-full rounded-md bg-surface-1 p-24">
		<div class="container grid border-b border-alpha-1 mb-24 pb-24">
			<div class="max-w-max justify-self-auto p-10 bg-info text-center rounded-sm">1</div>
		</div>
		<div class="container grid border-b border-alpha-1 mb-24 pb-24">
			<div class="max-w-max justify-self-start p-10 bg-info text-center rounded-sm">1</div>
		</div>
		<div class="container grid border-b border-alpha-1 mb-24 pb-24">
			<div class="max-w-max justify-self-end p-10 bg-info text-center rounded-sm">1</div>
		</div>
		<div class="container grid border-b border-alpha-1 mb-24 pb-24">
			<div class="max-w-max justify-self-center p-10 bg-info text-center rounded-sm">1</div>
		</div>
		<div class="container grid">
			<div class="max-w-max justify-self-baseline p-10 bg-info text-center rounded-sm">1</div>
		</div>
	</div>
</section>