<section id='flexbox-grid__justify-items' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Justify Items</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling how grid items are aligned along their inline axis.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						justify-items-start
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						justify-items: flex-start;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						justify-items-end
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						justify-items: flex-end;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						justify-items-center
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						justify-items: center;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						justify-items-baseline
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						justify-items: baseline;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						justify-items-stretch
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						justify-items: stretch;
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="container h-full rounded-md bg-surface-1 p-24">
		<div class="container grid justify-items-start border-b border-alpha-1 mb-24 pb-24">
			<div class="w-1/2 p-10 mb-8 bg-info text-center rounded-sm">1</div>
			<div class="w-1/2 p-10 bg-info text-center rounded-sm">2</div>
		</div>
		<div class="container grid justify-items-end border-b border-alpha-1 mb-24 pb-24">
			<div class="w-1/2 p-10 mb-8 bg-info text-center rounded-sm">1</div>
			<div class="w-1/2 p-10 bg-info text-center rounded-sm">2</div>
		</div>
		<div class="container grid justify-items-center border-b border-alpha-1 mb-24 pb-24">
			<div class="w-1/2 p-10 mb-8 bg-info text-center rounded-sm">1</div>
			<div class="w-1/2 p-10 bg-info text-center rounded-sm">2</div>
		</div>
		<div class="container grid justify-items-baseline border-b border-alpha-1 mb-24 pb-24">
			<div class="w-1/2 p-10 mb-8 bg-info text-center rounded-sm">1</div>
			<div class="w-1/2 p-10 bg-info text-center rounded-sm">2</div>
		</div>
		<div class="container grid justify-items-stretch">
			<div class="w-1/2 p-10 mb-8 bg-info text-center rounded-sm">1</div>
			<div class="w-1/2 p-10 bg-info text-center rounded-sm">2</div>
		</div>
	</div>
</section>