<section id='flexbox-grid__order' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Order</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the order
		of flex and grid items.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						order-1
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						order: 1;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						order-2
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						order: 2;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						order-3
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						order: 3;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						order-4
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						order: 4;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						order-5
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						order: 5;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						order-6
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						order: 6;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						order-7
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						order: 7;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						order-8
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						order: 8;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						order-9
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						order: 9;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						order-10
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						order: 10;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						order-11
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						order: 11;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						order-12
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						order: 12;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						order-first
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						order: -9999;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						order-last
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						order: 9999;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						order-none
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						order: 0;
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class='relative container h-full rounded-md bg-surface-1 p-24'>
		<div class='absolute inset-0 bg-grid mix-blend-plus-lighter'></div>
		<div class='relative flex flex-row justify-between gap-md'>
			<div
				class='w-150 order-last rounded-md py-10 bg-info text-center'
			>1</div>
			<div
				class='w-150 order-first rounded-md py-10 bg-info text-center'
			>2</div>
			<div
				class='w-150 order-2 rounded-md py-10 bg-info text-center'
			>3</div>
		</div>
	</div>
</section>