<section id='layout__aspect-ratio' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Aspect Ratio</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the
		aspect ratio of an element.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class / Prop
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				{{#each aspect-ratio}}
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						{{@key}}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
					aspect-ratio: {{this}};
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<div class='relative rounded-md bg-surface-1 p-16 border border-alpha-2'>
		<div class='absolute inset-0 bg-grid mix-blend-plus-lighter'></div>
		<div class='relative gap-10 columns-2 md:columns-3'>
			<div
				class='aspect-square break-inside-avoid mb-16 flex justify-center items-center rounded-md bg-info'
			>
				<span class='text-xs text-white font-semibold'>square</span>
			</div>
			<div
				class='aspect-tv break-inside-avoid mb-16 flex justify-center items-center rounded-md bg-info'
			>
				<span class='text-xs text-white font-semibold'>tv</span>
			</div>
			<div
				class='aspect-photo break-inside-avoid mb-16 flex justify-center items-center rounded-md bg-info'
			>
				<span class='text-xs text-white font-semibold'>photo</span>
			</div>
			<div
				class='aspect-wide break-inside-avoid mb-16 flex justify-center items-center rounded-md bg-info'
			>
				<span class='text-xs text-white font-semibold'>wide</span>
			</div>
			<div
				class='aspect-ultrawide break-inside-avoid mb-16 flex justify-center items-center rounded-md bg-info'
			>
				<span class='text-xs text-white font-semibold'>ultrawide</span>
			</div>
		</div>
	</div>
</section>