<section id='layout__break-before' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Break Before</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling how a
		column or page should break before an element.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						break-before-auto
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						break-before: auto;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						break-before-avoid
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						break-before: avoid;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						break-before-all
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						break-before: all;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						break-before-avoid-page
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						break-before: avoid-page;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						break-before-page
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						break-before: page;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						break-before-left
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						break-before: left;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						break-before-right
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						break-before: right;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						break-before-column
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						break-before: column;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>