<section id='layout__columns' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Columns</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the
		number of columns within an element.
	</h2>

	<details class='font-light text-word-4 list-none mb-16'>
		<p>You can also use the breakpoint modifier to apply the class at only a
			specific screen size and above. Example: md-columns-3
		</p>
	</details>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				{{#each columns}}
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						columns-{{this}}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
					columns-{{this}};
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<div class="relative container h-full rounded-md bg-surface-1 p-24">
		<div class="absolute inset-0 bg-grid mix-blend-soft-light"></div>
		<div class="relative columns-3">
			<p>
				Lorem ipsum dolor sit amet. Rem enim quia qui numquam itaque sit voluptatum nihil aut numquam autem sed voluptas deserunt. Quo adipisci dolor aut molestiae vitae aut enim iure eum eveniet esse qui nulla rerum ut dolores nihil et dolorem galisum. Ut facilis aspernatur sed fuga perspiciatis internos velit ad fugiat officia et consectetur incidunt. Et quam odit ut asperiores odio sit doloribus ducimus ea iste nihil qui autem.
			</p>
		</div>
	</div>
</section>