<section id='layout__columns' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Columns</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the
		number of columns within an element.
	</h2>

	<details class='font-light text-word-4 list-none mb-16'>
		<p>You can also use the breakpoint modifier to apply the class at only a
			specific screen size and above. Example: md-columns-3
		</p>
	</details>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						columns-1
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						columns-1;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						columns-2
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						columns-2;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						columns-3
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						columns-3;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						columns-4
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						columns-4;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						columns-5
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						columns-5;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						columns-6
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						columns-6;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						columns-7
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						columns-7;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						columns-8
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						columns-8;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						columns-9
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						columns-9;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						columns-10
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						columns-10;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						columns-11
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						columns-11;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						columns-12
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						columns-12;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>