<section id='layout__container' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Container</h1>
	<h2 class='font-light text-word-3 mb-24'>A component for fixing an element's
		width to the current breakpoint.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Breakpoint
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						rowspan='9'
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						container
					</td>
					<td
						translate='no'
						class='font-mono text-word-4 whitespace-nowrap'
					>
						none
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						width: 100%;
					</td>
				</tr>
				{{#each breakpoints}}
				<tr>
					<td
						translate='no'
						class='font-mono text-word-4 whitespace-nowrap'
					>
						{{@key}}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
					width: {{this}};
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</section>