<section id='layout__display' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Display</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the
		display box type of an element.
	</h2>

	<details class='font-light text-word-4 list-none mb-16'>
		<p>You can also use the breakpoint modifier to apply the class at only a
			specific screen size and above. Example:
			md-{block|inline-block|inline|flex|inline-flex|grid|inline-grid|none}
		</p>
	</details>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						block
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: block;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						inline-block
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: inline-block;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						inline
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: inline;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						flex
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: flex;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						inline-flex
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: inline-flex;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						grid
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: grid;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						inline-grid
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: inline-grid;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						none
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: none;
					</td>
				</tr>

				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						table
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: table;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						inline-table
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: inline-table;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						table-caption
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: table-caption;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						table-cell
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: table-cell;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						table-column
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: table-column;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						table-column-group
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: table-column-group;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						table-footer-group
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: table-footer-group;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						table-header-group
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: table-header-group;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						table-row-group
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: table-row-group;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						table-row
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: table-row;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						flow-root
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: flow-root;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						contents
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: contents;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						list-items
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						display: list-items;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>