<section id='layout__object-position' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Object Fit</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling how a
		replaced element's content should be resized.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						object-bottom
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						object-position: bottom;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						object-center
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						object-position: center;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						object-left
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						object-position: left;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						object-left-bottom
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						object-position: left-bottom;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						object-left-top
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						object-position: left-top;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						object-right
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						object-position: right;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						object-right-bottom
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						object-position: right-bottom;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						object-right-top
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						object-position: right-top;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						object-top
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						object-position: top;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>