<section id='layout__overflow' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Overflow</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling how an
		element handles content that is too large for the container.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						overflow-auto
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						overflow: auto;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						overflow-hidden
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						overflow: hidden;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						overflow-clip
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						overflow: clip;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						overflow-visible
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						overflow: visible;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						overflow-scroll
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						overflow: scroll;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						overflow-x-auto
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						overflow-x: auto;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						overflow-x-hidden
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						overflow-x: hidden;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						overflow-x-clip
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						overflow-x: clip;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						overflow-x-visible
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						overflow-x: visible;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						overflow-x-scroll
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						overflow-x: scroll;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						overflow-y-auto
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						overflow-y: auto;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						overflow-y-hidden
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						overflow-y: hidden;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						overflow-y-clip
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						overflow-y: clip;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						overflow-y-visible
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						overflow-y: visible;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						overflow-y-scroll
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						overflow-y: scroll;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>