<section id='layout__top-right-bottom-left' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Top / Right / Bottom / Left</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the
		placement of positioned elements.
	</h2>

	{{> spacer-helpers/spacers }}

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						inset-{spacer-size}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						inset: {spacer-value}
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						inset-x-{spacer-size}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						inset-inline: {spacer-value}
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						inset-y-{spacer-size}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						inset-block: {spacer-value}
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						top-{spacer-size}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						top: {spacer-value}
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						right-{spacer-size}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						right: {spacer-value}
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						bottom-{spacer-size}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						bottom: {spacer-value}
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						left-{spacer-size}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						left: {spacer-value}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>