<section id='layout__visibility' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Visibility</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the
		visibility of an element.
	</h2>

	<details class='font-light text-word-4 list-none mb-16'>
		<p>You can also use the breakpoint modifier to apply the class at only a
			specific screen size and above. Example: md-{visible|invisible}
		</p>
	</details>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				{{#each visibility}}
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						{{@key}}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
					visibility: {{this}};
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<div class="container h-full rounded-md bg-surface-1 p-24">
		<div class="border-b border-alpha-1 mb-24 pb-24">
			<div class="w-150 border-x border-y border-accent p-2">
				<div class="w-full visible rounded-md py-20 bg-info text-center"></div>
			</div>
		</div>
		<div>
			<div class="w-150 border-x border-y border-accent p-2">
				<div class="w-full invisible rounded-md py-20 bg-info text-center"></div>
			</div>
		</div>
	</div>
</section>