<section id='layout__z-index' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Z-Index</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the stack
		order of an element.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						z-dropdown
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						z-index: 1000;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						z-sticky
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						z-index: 1020;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						z-fixed
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						z-index: 1030;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						z-modal-backdrop
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						z-index: 1040;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						z-modal
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						z-index: 1050;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						z-confirm-backdrop
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						z-index: 1060;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						z-confirm
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						z-index: 1070;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						z-popover
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						z-index: 1060;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						z-tooltip
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						z-index: 1070;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						z-toast
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						z-index: 1080;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						z-notification-alert
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						z-index: 1090;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						z-auto
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						z-index: auto;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>