<section id='backgrounds__background-repeat' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Background Repeat</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the
		repetition of an element's background image.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-repeat
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-repeat: repeat;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-no-repeat
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-repeat: no-repeat;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-repeat-x
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-repeat: repeat-x;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-repeat-y
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-repeat: repeat-y;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-repeat-round
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-repeat: round;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-repeat-space
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-repeat: space;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-right-bottom
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-repeat: right-bottom;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-right-top
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-repeat: right-top;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-top
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-repeat: top;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>