<section id='backgrounds__background-clip' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Background Clip</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the
		bounding box of an element's background.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				{{#each background-clip}}
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-clip-{{@key}}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
					background-clip: {{this}};
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<div class='relative container h-full rounded-md bg-surface-1 p-24'>
		<div class='absolute inset-0 bg-grid mix-blend-plus-lighter'></div>
		<div class='relative'>
			<div
				class='p-10 bg-clip-border bg-info border-dashed border-accent border-4 mb-24'
			>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Praesent congue blandit mi. Interdum et malesuada fames ac
					ante ipsum primis in faucibus.
				</p>
			</div>
			<div
				class='p-10 bg-clip-padding bg-info border-dashed border-accent border-4 mb-24'
			>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Praesent congue blandit mi. Interdum et malesuada fames ac
					ante ipsum primis in faucibus.
				</p>
			</div>
			<div
				class='p-10 bg-clip-content bg-info border-dashed border-accent border-4 mb-24'
			>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Praesent congue blandit mi. Interdum et malesuada fames ac
					ante ipsum primis in faucibus.
				</p>
			</div>
			<div
				class='p-10 bg-clip-text bg-info border-dashed border-accent border-4'
			>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Praesent congue blandit mi. Interdum et malesuada fames ac
					ante ipsum primis in faucibus.
				</p>
			</div>
		</div>
	</div>
</section>