<section id='backgrounds__background-attachment' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Background Attachment</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling how a
		background image behaves when scrolling.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				{{#each background-attachment}}
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-{{this}}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
					background-attachment: {{this}};
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<div class='relative container h-full rounded-md bg-surface-1 p-24'>
		<div class='absolute inset-0 bg-grid mix-blend-plus-lighter'></div>
		<div>
			<p
				class='bg-fixed bg-cover bg-no-repeat border-b border-alpha-1 mb-24 pb-24'
				style="background-image: url('https://source.unsplash.com/random/100')"
			>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
				congue blandit mi. Interdum et malesuada fames ac ante ipsum
				primis in faucibus. Praesent vel pellentesque mauris. Morbi id
				convallis felis. Nulla facilisi.</p>
			<p
				class='bg-local bg-cover bg-no-repeat border-b border-alpha-1 mb-24 pb-24'
				style="background-image: url('https://source.unsplash.com/random/100')"
			>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
				congue blandit mi. Interdum et malesuada fames ac ante ipsum
				primis in faucibus. Praesent vel pellentesque mauris. Morbi id
				convallis felis. Nulla facilisi.</p>
			<p
				class='bg-scroll bg-cover bg-no-repeat'
				style="background-image: url('https://source.unsplash.com/random/100')"
			>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
				congue blandit mi. Interdum et malesuada fames ac ante ipsum
				primis in faucibus. Praesent vel pellentesque mauris. Morbi id
				convallis felis. Nulla facilisi.</p>
		</div>
	</div>
</section>