<section id='backgrounds__background-size' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Background Size</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the
		background size of an element's background image.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-auto
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-size: auto;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-cover
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-size: cover;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-contain
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-size: contain;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>