<section id='backgrounds__background-image' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Background Image</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling an
		element's background image.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-grid
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-image: url("data:image/svg+xml,%3Csvg
						xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'
						width='32' height='32' fill='none' stroke='rgb(51 65 85
						/ 0.25)'%3E%3Cpath d='M0 .5H31.5V32'/%3E%3C/svg%3E");
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>