<section id='backgrounds__background-color' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Background Color</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling an
		element's background color.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<div class='flex pt-16'>
			<div class='flex mr-auto items-center pr-16'>Word: </div>
			<div class='bg-word p-16'></div>
			<div class='bg-word-1 p-16'></div>
			<div class='bg-word-2 p-16'></div>
			<div class='bg-word-3 p-16'></div>
			<div class='bg-word-4 p-16'></div>
			<div class='bg-word-5 p-16'></div>
		</div>
		<div class='flex pt-16'>
			<div class='flex mr-auto items-center pr-16'>Surface: </div>
			<div class='bg-surface p-16'></div>
			<div class='bg-surface-1 p-16'></div>
			<div class='bg-surface-2 p-16'></div>
			<div class='bg-surface-3 p-16'></div>
			<div class='bg-surface-4 p-16'></div>
			<div class='bg-surface-5 p-16'></div>
		</div>
		<div class='flex pt-16'>
			<div class='flex mr-auto items-center pr-16'>Shadow: </div>
			<div class='bg-shadow p-16'></div>
		</div>
		<div class='flex pt-16'>
			<div class='flex mr-auto items-center pr-16'>Brand: </div>
			<div class='bg-brand-lighten-5 p-16'></div>
			<div class='bg-brand-lighten-4 p-16'></div>
			<div class='bg-brand-lighten-3 p-16'></div>
			<div class='bg-brand-lighten-2 p-16'></div>
			<div class='bg-brand-lighten-1 p-16'></div>
			<div class='bg-brand p-16'></div>
			<div class='bg-brand-darken-1 p-16'></div>
			<div class='bg-brand-darken-2 p-16'></div>
			<div class='bg-brand-darken-3 p-16'></div>
			<div class='bg-brand-darken-4 p-16'></div>
			<div class='bg-brand-darken-5 p-16'></div>
		</div>
		<div class='flex pt-16'>
			<div class='flex mr-auto items-center pr-16'>Positive: </div>
			<div class='bg-success-lighten-5 p-16'></div>
			<div class='bg-success-lighten-4 p-16'></div>
			<div class='bg-success-lighten-3 p-16'></div>
			<div class='bg-success-lighten-2 p-16'></div>
			<div class='bg-success-lighten-1 p-16'></div>
			<div class='bg-success p-16'></div>
			<div class='bg-success-darken-1 p-16'></div>
			<div class='bg-success-darken-2 p-16'></div>
			<div class='bg-success-darken-3 p-16'></div>
			<div class='bg-success-darken-4 p-16'></div>
			<div class='bg-success-darken-5 p-16'></div>
		</div>
		<div class='flex pt-16'>
			<div class='flex mr-auto items-center pr-16'>Negative: </div>
			<div class='bg-danger-lighten-5 p-16'></div>
			<div class='bg-danger-lighten-4 p-16'></div>
			<div class='bg-danger-lighten-3 p-16'></div>
			<div class='bg-danger-lighten-2 p-16'></div>
			<div class='bg-danger-lighten-1 p-16'></div>
			<div class='bg-danger p-16'></div>
			<div class='bg-danger-darken-1 p-16'></div>
			<div class='bg-danger-darken-2 p-16'></div>
			<div class='bg-danger-darken-3 p-16'></div>
			<div class='bg-danger-darken-4 p-16'></div>
			<div class='bg-danger-darken-5 p-16'></div>
		</div>
		<div class='flex pt-16'>
			<div class='flex mr-auto items-center pr-16'>Warning: </div>
			<div class='bg-warning-lighten-5 p-16'></div>
			<div class='bg-warning-lighten-4 p-16'></div>
			<div class='bg-warning-lighten-3 p-16'></div>
			<div class='bg-warning-lighten-2 p-16'></div>
			<div class='bg-warning-lighten-1 p-16'></div>
			<div class='bg-warning p-16'></div>
			<div class='bg-warning-darken-1 p-16'></div>
			<div class='bg-warning-darken-2 p-16'></div>
			<div class='bg-warning-darken-3 p-16'></div>
			<div class='bg-warning-darken-4 p-16'></div>
			<div class='bg-warning-darken-5 p-16'></div>
		</div>
		<div class='flex pt-16'>
			<div class='flex mr-auto items-center pr-16'>Info: </div>
			<div class='bg-info-lighten-5 p-16'></div>
			<div class='bg-info-lighten-4 p-16'></div>
			<div class='bg-info-lighten-3 p-16'></div>
			<div class='bg-info-lighten-2 p-16'></div>
			<div class='bg-info-lighten-1 p-16'></div>
			<div class='bg-info p-16'></div>
			<div class='bg-info-darken-1 p-16'></div>
			<div class='bg-info-darken-2 p-16'></div>
			<div class='bg-info-darken-3 p-16'></div>
			<div class='bg-info-darken-4 p-16'></div>
			<div class='bg-info-darken-5 p-16'></div>
		</div>
		<div class='flex pt-16'>
			<div class='flex mr-auto items-center pr-16'>Accent: </div>
			<div class='bg-accent-lighten-5 p-16'></div>
			<div class='bg-accent-lighten-4 p-16'></div>
			<div class='bg-accent-lighten-3 p-16'></div>
			<div class='bg-accent-lighten-2 p-16'></div>
			<div class='bg-accent-lighten-1 p-16'></div>
			<div class='bg-accent p-16'></div>
			<div class='bg-accent-darken-1 p-16'></div>
			<div class='bg-accent-darken-2 p-16'></div>
			<div class='bg-accent-darken-3 p-16'></div>
			<div class='bg-accent-darken-4 p-16'></div>
			<div class='bg-accent-darken-5 p-16'></div>
		</div>
		<div class='flex pt-16'>
			<div class='flex mr-auto items-center pr-16'>Gray: </div>
			<div class='bg-gray-lighten-5 p-16'></div>
			<div class='bg-gray-lighten-4 p-16'></div>
			<div class='bg-gray-lighten-3 p-16'></div>
			<div class='bg-gray-lighten-2 p-16'></div>
			<div class='bg-gray-lighten-1 p-16'></div>
			<div class='bg-gray p-16'></div>
			<div class='bg-gray-darken-1 p-16'></div>
			<div class='bg-gray-darken-2 p-16'></div>
			<div class='bg-gray-darken-3 p-16'></div>
			<div class='bg-gray-darken-4 p-16'></div>
			<div class='bg-gray-darken-5 p-16'></div>
		</div>
	</div>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th class="w-1/2 ">
						Result
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				{{#each colors}}
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-{{@key}}
					</td>
					<td
						translate='no'
						class='w-1/2 bg-{{@key}} font-mono text-info whitespace-nowrap'
					>
					</td>
				</tr>
				{{/each}}	
			</tbody>
		</table>
	</div>

	{{!-- <div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-scheme
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-color: light;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-transparent
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-color: transparent;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-black
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-color: #000;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-white
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-color: #fff;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-brand
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-color: #1976d2;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-accent
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-color: #9c27b0;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-success
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-color: #21ba45;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-danger
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-color: #c10015;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-info
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-color: #31ccec;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-warning
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-color: #f2c037;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-gray
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-color: hsl(209.8378378378deg, 15%, 50%);
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-word
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-color: hsl(209.8378378378deg, 15%, 10%);
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-surface
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-color: hsl(209.8378378378deg, 10%, 98%);
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-shadow
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-color: hsl(209.8378378378deg, 50%, 20%);
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-alpha
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-color: hsl(0deg, 0%, 0%);
					</td>
				</tr>
			</tbody>
		</table>
	</div> --}}
</section>