<section id='backgrounds__background-attachment' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Background Attachment</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling how a
		background image behaves when scrolling.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-fixed
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-attachment: fixed;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-local
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-attachment: local;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-scroll
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						background-attachment: scroll;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>