<section id='backgrounds__background-size' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Background Size</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the
		background size of an element's background image.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				{{#each background-size}}
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						bg-{{this}}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
					background-size: {{this}};
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<div class='relative container h-full rounded-md bg-surface-1 p-24'>
		<div class='absolute inset-0 bg-grid mix-blend-plus-lighter'></div>
		<div class='relative flex flex-nowrap gap-10'>
			<div
				class='w-full h-150 bg-auto'
				style="background-image: url('https://picsum.photos/100')"
			></div>
			<div
				class='w-full h-150 bg-cover'
				style="background-image: url('https://picsum.photos/100')"
			></div>
			<div
				class='w-full h-150 bg-contain'
				style="background-image: url('https://picsum.photos/100')"
			></div>
		</div>
	</div>
</section>