<section id='effects__blend-mode' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Mix Blend Mode</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling how an
		element should blend with the background.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						mix-blend-normal
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						mix-blend-mode: normal;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						mix-blend-multiply
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						mix-blend-mode: multiply;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						mix-blend-screen
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						mix-blend-mode: screen;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						mix-blend-overlay
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						mix-blend-mode: overlay;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						mix-blend-darken
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						mix-blend-mode: darken;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						mix-blend-lighten
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						mix-blend-mode: lighten;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						mix-blend-color-dodge
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						mix-blend-mode: color-dodge;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						mix-blend-color-burn
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						mix-blend-mode: color-burn;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						mix-blend-hard-light
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						mix-blend-mode: hard-light;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						mix-blend-soft-light
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						mix-blend-mode: soft-light;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						mix-blend-difference
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						mix-blend-mode: difference;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						mix-blend-exclusion
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						mix-blend-mode: exclusion;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						mix-blend-hue
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						mix-blend-mode: hue;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						mix-blend-saturation
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						mix-blend-mode: saturation;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						mix-blend-color
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						mix-blend-mode: color;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						mix-blend-luminosity
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						mix-blend-mode: luminosity;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						mix-blend-plus-lighter
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						mix-blend-mode: plus-lighter;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>