$dark-vv-alert: (
	modifier: (
		success: (
			background-color:
				hsl(
					var(--color-success-hue) var(--color-success-saturation) 10%
				),
			element: (
				icon: (
					color: var(--color-success),
				),
				title: (
					color: var(--color-success),
				),
			),
		),
		danger: (
			background-color:
				hsl(var(--color-danger-hue) var(--color-danger-saturation) 10%),
			element: (
				icon: (
					color: var(--color-danger),
				),
				title: (
					color: var(--color-danger),
				),
			),
		),
		warning: (
			background-color:
				hsl(
					var(--color-warning-hue) var(--color-warning-saturation) 10%
				),
			element: (
				icon: (
					color: var(--color-warning),
				),
				title: (
					color: var(--color-warning),
				),
			),
		),
		info: (
			background-color:
				hsl(var(--color-info-hue) var(--color-info-saturation) 10%),
			element: (
				icon: (
					color: var(--color-info),
				),
				title: (
					color: var(--color-info),
				),
			),
		),
		accent: (
			background-color:
				hsl(var(--color-accent-hue) var(--color-accent-saturation) 10%),
			element: (
				icon: (
					color: var(--color-accent),
				),
				title: (
					color: var(--color-accent),
				),
			),
		),
		brand: (
			background-color:
				hsl(var(--color-brand-hue) var(--color-brand-saturation) 10%),
			element: (
				icon: (
					color: var(--color-brand),
				),
				title: (
					color: var(--color-brand),
				),
			),
		),
	),
) !default;
