$dark-vv-alert: (
	modifier: (
		auto-close: (
			element: (
				close: (
					background-color: var(--color-black),
					pseudo: (
						after: (
							background-color: var(--color-black),
						),
					),
				),
			),
		),
		success: (
			element: (
				header: (
					color: var(--color-success-lighten-3-readable),
				),
			),
		),
		warning: (
			element: (
				header: (
					color: var(--color-warning-readable),
				),
			),
		),
		danger: (
			element: (
				header: (
					color: var(--color-danger-lighten-5-readable),
				),
			),
		),
		accent: (
			element: (
				header: (
					color: var(--color-accent-lighten-4-readable),
				),
			),
		),
		brand: (
			element: (
				header: (
					color: var(--color-brand-lighten-3-readable),
				),
			),
		),
		info: (
			element: (
				header: (
					color: var(--color-info-readable),
				),
			),
		),
		notification: (
			border-color: var(--color-gray-lighten-3),
			modifier: (
				danger: (
					border-color: var(--color-danger-lighten-3),
					element: (
						header: (
							color: var(--color-danger-contrast)
						),
					),
				),
				brand: (
					border-color: var(--color-brand-lighten-3),
					element: (
						header: (
							color: var(--color-brand-contrast)
						),
					),
				),
				success: (
					border-color: var(--color-success-lighten-3),
					element: (
						header: (
							color: var(--color-success-contrast)
						),
					),
				),
				accent: (
					border-color: var(--color-accent-lighten-3),
					element: (
						header: (
							color: var(--color-accent-contrast)
						),
					),
				),
				warning: (
					border-color: var(--color-warning-darken-5),
					element: (
						header: (
							color: var(--color-white),
							background-color: var(--color-warning-darken-5),
						),
					),
				),
				info: (
					border-color: var(--color-info-darken-2),
					element: (
						header: (
							color: var(--color-white),
							background-color: var(--color-info-darken-5),
						),
					),
				),
			),
		),
	),
);
