$dark-vv-avatar: (
	modifier: (
		ring: (
			color: var(--color-brand-lighten-3-readable),
			modifier: (
				danger: (
					color: var(--color-danger-lighten-5-readable),
				),
				success: (
					color: var(--color-success-lighten-3-readable),
				),
				warning: (
					color: var(--color-warning-readable),
				),
				gray: (
					color: var(--color-gray-lighten-3),
				),
				info: (
					color: var(--color-info-readable),
				),
				accent: (
					color: var(--color-accent-lighten-5-readable),
				),
				surface: (
					color: var(--color-word-2),
				),
			),
		),
	),
);
