<section id='typography__font-variant-numeric' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Font Variant Numeric</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the
		variant of numbers.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						normal-nums
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						font-variant-numeric: normal;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						ordinal
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						font-variant-numeric: ordinal;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						slashed-zero
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						font-variant-numeric: slashed-zero;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						lining-nums
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						font-variant-numeric: lining-nums;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						oldstyle-nums
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						font-variant-numeric: oldstyle-nums;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						proportional-nums
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						font-variant-numeric: proportional-nums;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						tabular-nums
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						font-variant-numeric: tabular-nums;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						diagonal-fractions
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						font-variant-numeric: diagonal-fractions;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						stacked-fractions
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						font-variant-numeric: stacked-fractions;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>