<section id='typography__font-weight' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Font Weight</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the font
		weight of an element.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				{{#each font-weight}}
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						font-{{@key}}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
					font-weight: {{this}};
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<div class="container h-full rounded-md bg-surface-1 p-24">
		<div class="flex justify-between">
			<div class="font-thin">@</div>
			<div class="font-extralight">V</div>
			<div class="font-light">O</div>
			<div class="font-normal">L</div>
			<div class="font-medium">V</div>
			<div class="font-semibold">E</div>
			<div class="font-bold">R</div>
			<div class="font-extrabold">J</div>
			<div class="font-black">S</div>
		</div>
	</div>
</section>