<section id='typography__font-style' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Font Style</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the style
		of text.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						italic
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						font-style: italic;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						non-italic
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						font-style: normal;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>