<section id='typography__font-family' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Font Family</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the font
		family of an element.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						font-sans
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						font-family: ui-sans-serif, system-ui, -apple-system,
						BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica
						Neue", Arial, "Noto Sans", sans-serif, "Apple Color
						Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color
						Emoji"
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						font-serif
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						font-family: ui-serif, Georgia, Cambria, "Times New
						Roman", Times, serif
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						font-mono
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						font-family: ui-monospace, SFMono-Regular, Menlo,
						Monaco, Consolas, "Liberation Mono", "Courier New",
						monospace
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>