<section id='typography__line-height' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Line Height</h1>
	<h2 class='font-light text-word-3 mb-24'>
		Utilities for controlling the leading (line height) of an element. ​

	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				{{#each line-height}}
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						leading-{{@key}}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
					line-height: {{this}};
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<div
		class='container h-full grid rounded-md bg-surface-1 p-24'
		style='grid-template-columns: repeat(2, minmax(0, 1fr));'
	>
		<div class='leading-none border-b border-alpha-1 mb-24 pb-24'>
			<p>First line</p>
			<p>Second line</p>
		</div>
		<div class='leading-tight border-b border-alpha-1 mb-24 pb-24'>
			<p>First line</p>
			<p>Second line</p>
		</div>
		<div class='leading-snug border-b border-alpha-1 mb-24 pb-24'>
			<p>First line</p>
			<p>Second line</p>
		</div>
		<div class='leading-normal border-b border-alpha-1 mb-24 pb-24'>
			<p>First line</p>
			<p>Second line</p>
		</div>
		<div class='leading-relaxed'>
			<p>First line</p>
			<p>Second line</p>
		</div>
		<div class='leading-loose'>
			<p>First line</p>
			<p>Second line</p>
		</div>
	</div>
</section>