<section id='typography__list-style-position' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>List Style Position</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the
		position of bullets/numbers in lists.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						list-inside
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						list-style-position: inside;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						list-outside
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						list-style-position: outside;
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="container flex justify-around h-full rounded-md bg-surface-1 p-24">
		
		<div class="flex items-center">
			<ul class="list-disc list-inside">
				<li>HTML</li>
				<li>CSS</li>
				<li>JS</li>
			</ul>
		</div>
		<div class="flex items-center">
			<ul class="list-disc list-outside">
				<li>HTML</li>
				<li>CSS</li>
				<li>JS</li>
			</ul>
		</div>
	</div>
</section>