<section id='typography__text-overflow' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Text Overflow</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling text
		overflow in an element.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						truncate
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						<p>overflow: hidden;</p> 
						<p>text-overflow: ellipsis;</p>
						<p>white-space: nowrap;</p>
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						text-ellipsis
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						text-overflow: ellipsis;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						text-clip
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						text-overflow: clip;
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="container rounded-md bg-surface-1 p-24">
		<div class="w-1/2 truncate">This is some long text that will not fit in the box.</div>
	</div>
</section>