<section id='typography__text-color' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Text Color</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the text
		color of an element.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Example
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				{{#each colors}}
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						text-{{@key}}
					</td>
					<td
						translate='no'
						class='w-1/2 text-{{@key}} font-mono whitespace-nowrap'
					>
					Lorem ipsum dolor sit amet.
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	
</section>