<section id='typography__text-underline-offset' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Text Underline Offset</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the
		offset of a text underline.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						underline-offset-auto
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						text-underline-offset: auto;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						underline-offset-0
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						text-underline-offset: 0px;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						underline-offset-1
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						text-underline-offset: 1px;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						underline-offset-2
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						text-underline-offset: 2px;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						underline-offset-4
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						text-underline-offset: 4px;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						underline-offset-8
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						text-underline-offset: 8px;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>