<section id='typography__text-transform' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Text Transform</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the
		transformation of text.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						uppercase
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						text-transform: uppercase;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						lowercase
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						text-transform: lowercase;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						capitalize
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						text-transform: capitalize;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						normal-case
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						text-transform: none;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>