<section id='typography__vertical-align' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Vertical Align</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the
		vertical alignment of an inline or table-cell box.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						align-baseline
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						vertical-align: baseline;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						align-top
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						vertical-align: top;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						align-middle
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						vertical-align: middle;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						align-bottom
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						vertical-align: bottom;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						align-text-top
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						vertical-align: text-top;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						align-text-bottom
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						vertical-align: text-bottom;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						align-sub
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						vertical-align: sub;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						align-super
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						vertical-align: super;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>