<section id='typography__word-break' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Word Break</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling word
		breaks in an element.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						break-normal
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						<p>overflow-wrap: normal;</p>
						<p>word-break: normal;</p>
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						break-words
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						overflow-wrap: break-word;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						break-all
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						word-break: break-all;
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class='container h-full rounded-md bg-surface-1 p-24'>
		<p class='break-normal border-b border-alpha-1 mb-24 pb-24'>This is some
			very very very long word:
			pneumonoultramicroscopicsilicovolcanoconiosis. The long word will
			not break and wrap to the next line.</p>
		<p class='break-words border-b border-alpha-1 mb-24 pb-24'>This is some
			very very very long word:
			pneumonoultramicroscopicsilicovolcanoconiosis. The long word will
			break and wrap to the next line.</p>
		<p class='break-all'>This is some very very very long word:
			pneumonoultramicroscopicsilicovolcanoconiosis. This text will break
			at any character.</p>
	</div>
</section>