<section id='sizing__max-width' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Max-Width</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for setting the maximum
		width of an element.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						max-w-0
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						max-width: 0px;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						max-w-none
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						max-width: none;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						max-w-full
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						max-width: 100%;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						max-w-min
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						max-width: min-content;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						max-w-max
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						max-width: max-content;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						max-w-fit
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						max-width: fit-content;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						max-w-prose
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						max-width: 65ch;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						max-w-screen-xxs
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						max-width: 0;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						max-w-screen-xs
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						max-width: 360px;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						max-w-screen-sm
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						max-width: 576px;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						max-w-screen-md
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						max-width: 992px;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						max-w-screen-lg
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						max-width: 1024px;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						max-w-screen-xl
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						max-width: 1280px;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						max-w-screen-xxl
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						max-width: 1440px;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						max-w-screen-xxxl
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						max-width: 1536px;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>