<section id='sizing__min-height' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Min-Height</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for setting the minimum
		height of an element.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						min-h-0
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						min-height: 0px;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						min-h-full
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						min-height: 100%;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						min-h-screen
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						min-height: 100vh;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						min-h-min
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						min-height: min-content;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						min-h-max
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						min-height: max-content;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						min-h-fit
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						min-height: fit-content;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>