@import '../context';

// background-attachment
@include spread-map-into-utilities(
	$map: (
		fixed,
		local,
		scroll,
	),
	$class: 'bg',
	$attribute: 'background-attachment'
);

// background-clip
@include spread-map-into-utilities(
	$map: (
		border: border-box,
		padding: padding-box,
		content: content-box,
		text: text,
	),
	$class: 'bg-clip',
	$attribute: 'background-clip'
);

// background-origin
@include spread-map-into-utilities(
	$map: (
		border: border-box,
		padding: padding-box,
		content: content-box,
	),
	$class: 'bg-origin',
	$attribute: 'background-origin'
);

// background-position
@include spread-map-into-utilities(
	$map: (
		bottom: bottom,
		center: center,
		left: left,
		left-bottom: left bottom,
		left-top: left top,
		right: right,
		right-bottom: right bottom,
		right-top: right top,
		top: top,
	),
	$class: 'bg',
	$attribute: 'background-position'
);

// background-repeat
@include spread-map-into-utilities(
	$map: (
		repeat: repeat,
		no-repeat: no-repeat,
		repeat-x: repeat-x,
		repeat-y: repeat-y,
		repeat-round: round,
		repeat-space: space,
	),
	$class: bg,
	$attribute: background-repeat
);

// background-size
@include spread-map-into-utilities(
	$map: (
		auto,
		cover,
		contain,
	),
	$class: bg,
	$attribute: background-size
);

// background-image
@include spread-map-into-utilities(
	$map: (
		grid:
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(51 65 85 / 0.25)'%3E%3Cpath d='M0 .5H31.5V32'/%3E%3C/svg%3E"),
	),
	$class: bg,
	$attribute: background-image
);
