@use '../context' as *;

// background-color
@include spread-map-into-utilities(
	$map: $colors,
	$class: bg,
	$attribute: background-color,
	$prop: color,
	$zero-specificity: $zero-specificity-for-utilities
);

// color
@include spread-map-into-utilities(
	$map: $colors,
	$class: text,
	$attribute: color,
	$prop: color,
	$zero-specificity: $zero-specificity-for-utilities
);

// text-decoration-color
@include spread-map-into-utilities(
	$map: $colors,
	$class: decoration,
	$attribute: text-decoration-color,
	$prop: color,
	$zero-specificity: $zero-specificity-for-utilities
);

// border-color
@include spread-map-into-utilities(
	$map: $colors,
	$class: border,
	$attribute: border-color,
	$prop: color,
	$zero-specificity: $zero-specificity-for-utilities
);
