@import '../context';

// blend mode
@include spread-map-into-utilities(
	$map: (
		normal,
		multiply,
		screen,
		overlay,
		darken,
		lighten,
		color-dodge,
		color-burn,
		hard-light,
		soft-light,
		difference,
		exclusion,
		hue,
		saturation,
		color,
		luminosity,
		plus-lighter,
	),
	$class: mix-blend,
	$attribute: mix-blend-mode
);
