@use '../context' as *;

// blur
@include spread-map-into-utilities(
	$map: $blur,
	$class: blur,
	$attribute: filter,
	$zero-specificity: $zero-specificity-for-utilities
);

// brightness
@include spread-map-into-utilities(
	$map: $brightness,
	$class: brightness,
	$attribute: filter,
	$zero-specificity: $zero-specificity-for-utilities
);

// saturation
@include spread-map-into-utilities(
	$map: $saturation,
	$class: saturate,
	$attribute: filter,
	$zero-specificity: $zero-specificity-for-utilities
);

// backdrop blur
@include spread-map-into-utilities(
	$map: $blur,
	$class: backdrop-blur,
	$attribute: backdrop-filter,
	$zero-specificity: $zero-specificity-for-utilities
);
