// display
@include spread-map-into-utilities(
	$map: (
		block,
		inline-block,
		inline,
		flex,
		inline-flex,
		table,
		inline-table,
		table-caption,
		table-cell,
		table-column,
		table-column-group,
		table-footer-group,
		table-header-group,
		table-row-group,
		table-row,
		flow-root,
		grid,
		inline-grid,
		contents,
		list-item,
		none,
	),
	$attribute: 'display'
);

// z-index
@include spread-map-into-utilities(
	$map: $zindex,
	$class: 'z',
	$attribute: 'z-index',
	$prop: 'z'
);
