@use 'sass:map';
@use '../context' as *;

// transition property
@include spread-map-into-utilities(
	$map: $transition-property,
	$class: transition,
	$attribute: transition-property,
	$zero-specificity: $zero-specificity-for-utilities
);

// transition duration and transition delay
@each $class,
	$attribute in (duration: transition-duration, delay: transition-delay)
{
	@include spread-map-into-utilities(
		$map: $transition-duration-delay,
		$class: $class,
		$attribute: $attribute,
		$zero-specificity: $zero-specificity-for-utilities
	);
}

// transition timing function
@include spread-map-into-utilities(
	$map: $transition-timing-function,
	$class: ease,
	$attribute: transition-timing-function,
	$zero-specificity: $zero-specificity-for-utilities
);
