<section id='borders__border-width' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Border Width</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the width
		of an element's borders.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						border-{0|border|2|4|8}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						border-width: {0px | 1px | 2px | 4px | 8px }
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						border-x-{0|border|2|4|8}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						<p>border-left-width: {0px | 1px | 2px | 4px | 8px }</p>
						<p>border-right-width: {0px | 1px | 2px | 4px | 8px }</p>
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						border-y-{0|border|2|4|8}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						<p>border-top-width: {0px | 1px | 2px | 4px | 8px }</p>
						<p>border-bottom-width: {0px | 1px | 2px | 4px | 8px }</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>