<section id='borders__border-color' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Border Color</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the color
		of an element's borders.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-scheme
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-color: light;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-transparent
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-color: transparent;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-black
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-color: #000;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-white
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-color: #fff;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-brand
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-color: #1976d2;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-accent
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-color: #9c27b0;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-success
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-color: #21ba45;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-danger
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-color: #c10015;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-info
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-color: #31ccec;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-warning
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-color: #f2c037;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-gray
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-color: hsl(209.8378378378deg, 15%, 50%);
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-word
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-color: hsl(209.8378378378deg, 15%, 10%);
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-surface
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-color: hsl(209.8378378378deg, 10%, 98%);
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-shadow
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-color: hsl(209.8378378378deg, 50%, 20%);
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-alpha
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-color: hsl(0deg, 0%, 0%);
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>