<section id='borders__border-radius' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Border Radius</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the
		border radius of an element.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						rounded-none
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						border-radius: 0px;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						rounded-{sm | rounded | md | lg | xl | xxl | xxxl |
						full}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						border-radius: {0.125rem | 0.25rem | 0.375rem | 0.5rem |
						0.75rem | 1rem | 1.5rem | 9999px};
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						rounded-{t|b}-none
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						border-{top|bottom}-left-radius: 0px;
						border-{top|bottom}-right-radius: 0px;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						rounded-{t|b}-{sm | rounded | md | lg | xl | xxl | xxxl
						| full}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						<p>border-{top|bottom}-left-radius: {0.125rem | 0.25rem
							| 0.375rem | 0.5rem | 0.75rem | 1rem | 1.5rem |
							9999px};</p>
						<p>border-{top|bottom}-right-radius: {0.125rem | 0.25rem
							| 0.375rem | 0.5rem | 0.75rem | 1rem | 1.5rem |
							9999px};</p>
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						rounded-{r|l}-none
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						border-top-{right|left}-radius: 0px;
						border-bottom-{right|left}-radius: 0px;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						rounded-{r|l}-{sm | rounded | md | lg | xl | xxl | xxxl
						| full}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						<p>border-top-{right|left}-radius: {0.125rem | 0.25rem |
							0.375rem | 0.5rem | 0.75rem | 1rem | 1.5rem |
							9999px};</p>
						<p>border-bottom-{right|left}-radius: {0.125rem |
							0.25rem | 0.375rem | 0.5rem | 0.75rem | 1rem |
							1.5rem | 9999px};</p>
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						rounded-t{r|l}-none
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						border-top-{right|left}-radius: 0px;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						rounded-t{r|l}-{sm | rounded | md | lg | xl | xxl | xxxl
						| full}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						border-top-{right|left}-radius: {0.125rem | 0.25rem |
						0.375rem | 0.5rem | 0.75rem | 1rem | 1.5rem | 9999px};
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						rounded-b{r|l}-none
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						border-bottom-{right|left}-radius: 0px;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-wrap'
					>
						rounded-b{r|l}-{sm | rounded | md | lg | xl | xxl | xxxl
						| full}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-wrap'
					>
						border-bottom-{right|left}-radius: {0.125rem | 0.25rem |
						0.375rem | 0.5rem | 0.75rem | 1rem | 1.5rem | 9999px};
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>