<section id='borders__border-style' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Border Style</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling the style
		of an element's borders.
	</h2>

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-solid
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-style: solid;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-dashed
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-style: dashed;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-dotted
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-style: dotted;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-double
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-style: double;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-hidden
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-style: hidden;
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						border-none
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						border-style: none;
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class='container h-full rounded-md bg-surface-1 p-24'>
		<div
			class='w-full h-full p-6 border-solid border-brand border rounded-sm'
		>
			<div
				class='w-full h-full p-6 border-dashed border-accent border-2 rounded-md'
			>
				<div
					class='w-full h-full p-6 border-dotted border-success border-4 rounded-lg'
				>
					<div
						class='w-full h-full p-6 border-double border-danger border-8 rounded-full'
					>
						<div
							class='w-full h-full p-6 border-hidden border-info border rounded-none'
						>
							<div
								class='w-full h-full p-6 border-none border-info border rounded-none text-xs font-semibold text-center'
							>Borders example</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>