@use 'sass:map';
@use '../context' as *;

$component-name: map.get($components-names, vv-dropdown-action);

@mixin theme-dark-vv-dropdown-action {
	@include spread-theme-component(
		$base-map: $vv-dropdown-action,
		$theme-map: $dark-vv-dropdown-action,
		$component-name: $component-name,
		$bps: $breakpoints,
		$use-custom-props: $use-custom-props-for-components,
		$zero-specificity: $zero-specificity-for-components
	);
}

@include layer(themes, $use-css-layers, $layer-prefix) {
	:where(:host, :root, .theme):not(.theme--light) {
		@media (prefers-color-scheme: dark) {
			@include theme-dark-vv-dropdown-action;
		}
	}

	:where(.theme.theme--dark) {
		@include theme-dark-vv-dropdown-action;
	}
}
