@use 'sass:map';
@import '../context';

$component-name: map.get($components-names, vv-alert);
$component-map: $dark-vv-alert;

@mixin theme-dark-vv-alert {
	@include spread-map-into-props(
		$map: $component-map,
		$prefix: $component-name
	);
}

:where(:host, :root, .theme):not(.theme--light) {
	@media (prefers-color-scheme: dark) {
		@include theme-dark-vv-alert;
	}
}

:where(.theme.theme--dark) {
	@include theme-dark-vv-alert;
}
