@import '../context';

$component-name: 'vv-button';
$component-map: $vv-button;
$props: true;

:where(.theme-dark) {
	@include spread-map-into-props(
		$map: $component-map,
		$prefix: $component-name,
		$deep: $props
	);
}
