@use 'sass:map';
@use '../context' as *;

@include layer(components, $use-css-layers, $layer-prefix) {
$component-name: map.get($components-names, vv-breadcrumb);
$component-map: $vv-breadcrumb;

@include spread-map-into-bem(
	$map: $component-map,
	$block: $component-name,
	$use-custom-props: $use-custom-props-for-components,
	$zero-specificity: $zero-specificity-for-components,
	$bps: $breakpoints
);

}
