@use 'sass:map';
@use '../context' as *;

$component-name: map.get($components-names, vv-dropdown);
$component-map: $vv-dropdown;

@include spread-map-into-bem(
	$map: $component-map,
	$block: $component-name,
	$props: $use-custom-props-for-components,
	$zero-specificity: $zero-specificity-for-compoenents,
	$bps: $breakpoints
);
