@use 'sass:map';
@import '../context';

$component-name: map.get($components-names, vv-input-checkbox);
$component-map: $vv-input-checkbox;
$component-selector: '.' + $component-name;

@include spread-map-into-bem(
	$map: $component-map,
	$block: $component-name,
	$props: $use-custom-props-for-components,
	$zero-specificity: $zero-specificity-for-compoenents
);

@include wrap-with-where(
	$selector: $component-selector + ':has(> input[type="checkbox"]:disabled)',
	$enabled: $zero-specificity-for-compoenents
) {
	@extend %#{$component-name}--disabled !optional;
}
