@use 'sass:map';
@import '../context';

$component-name: map.get($components-names, vv-input-radio);
$component-map: $vv-input-radio;
$component-selector: '.#{ $component-name}';

@include spread-map-into-bem(
	$map: $component-map,
	$block: $component-name,
	$props: $use-custom-props-for-components,
	$zero-specificity: $zero-specificity-for-components
);

@include wrap-with-where(
	$selector: '#{$component-selector}:has(> input[type="radio"]:disabled)',
	$enabled: $zero-specificity-for-components
) {
	@extend %#{$component-name}--disabled !optional;
}
