@use 'sass:map';
@use '../context' as *;

@include layer(components, $use-css-layers, $layer-prefix) {
$component-name: map.get($components-names, vv-input-text);
$component-map: $vv-input-text;

@include spread-map-into-bem(
	$map: $component-map,
	$block: $component-name,
	$use-custom-props: $use-custom-props-for-components,
	$zero-specificity: $zero-specificity-for-components,
	$bps: $breakpoints
);

// disabled and readonly
@include spread-map-into-control-states(
	$map: $component-map,
	$block: $component-name,
	$control: 'input',
	$states: ('disabled', 'readonly'),
	$zero-specificity: $zero-specificity-for-components
);

}
