@use 'sass:map';
@import '../context';

$component-name: map.get($components-names, vv-input-text);
$component-map: $vv-input-text;
$component-selector: '.#{ $component-name}';

@include spread-map-into-bem(
	$map: $component-map,
	$block: $component-name,
	$props: $use-custom-props-for-components,
	$zero-specificity: $zero-specificity-for-compoenents
);

@include wrap-with-where(
	$selector:
		'#{$component-selector} > input:focus-visible ~ #{$component-selector}__focus-line',
	$enabled: $zero-specificity-for-compoenents
) {
	@extend %#{$component-name}-state-focus-visible__focus-line !optional;
}
