@use 'sass:map';
@import '../context';

$component-name: map.get($components-names, vv-select);
$component-map: $vv-select;
$component-selector: '.#{ $component-name}';

@include spread-map-into-bem(
	$map: $component-map,
	$block: $component-name,
	$props: $use-custom-props-for-components,
	$zero-specificity: $zero-specificity-for-compoenents
);

// disabled
@include wrap-with-where(
	$selector: '#{$component-selector}:has(select:disabled)',
	$enabled: $zero-specificity-for-compoenents
) {
	@extend %#{$component-name}--disabled !optional;
}

@if map.get($component-map, 'state', 'disabled', 'element') {
	@each $element,
		$map in map.get($component-map, 'state', 'disabled', 'element')
	{
		@include wrap-with-where(
			$selector:
				'#{$component-selector}:has(select:disabled) #{$component-selector}__#{$element}',
			$enabled: $zero-specificity-for-compoenents
		) {
			@extend %#{$component-name}-state-disabled__#{$element} !optional;
		}
	}
}
