@use 'sass:map';
@import '../context';

$component-name: map.get($components-names, vv-tooltip);
$component-map: $vv-tooltip;
$component-selector: '.#{ $component-name}';

@include spread-map-into-bem(
	$map: $component-map,
	$block: $component-name,
	$props: $use-custom-props-for-components,
	$zero-specificity: $zero-specificity-for-compoenents
);

@include wrap-with-where(
	$selector: '*:has(#{$component-selector})',
	$enabled: $zero-specificity-for-compoenents
) {
	position: relative;
}

@include wrap-with-where(
	$selector: '*:has(> #{$component-selector})',
	$enabled: $zero-specificity-for-compoenents
) {
	&:hover,
	&:focus-visible,
	&.hover,
	&.focus-visible {
		@extend %vv-tooltip--visible !optional;
	}
}
