@use 'sass:map';
@import '../context';

$component-name: map.get($components-names, vv-table);
$component-map: $vv-table;

@include spread-map-into-bem(
	$map: $component-map,
	$block: $component-name,
	$props: $use-custom-props-for-components,
	$zero-specificity: $zero-specificity-for-compoenents
) {
	@include wrap-with-where(
		$selector: 'tr',
		$enabled: $zero-specificity-for-compoenents
	) {
		@include spread-map-into-attrs(
			$map: map.get($component-map, 'element', 'tr'),
			$prefix: #{$component-name}-element-tr,
			$props: $use-custom-props-for-components
		);
	}

	@include wrap-with-where(
		$selector: 'th',
		$enabled: $zero-specificity-for-compoenents
	) {
		@include spread-map-into-attrs(
			$map: map.get($component-map, 'element', 'th'),
			$prefix: #{$component-name}-element-th,
			$props: $use-custom-props-for-components
		);
	}

	@include wrap-with-where(
		$selector: 'td',
		$enabled: $zero-specificity-for-compoenents
	) {
		@include spread-map-into-attrs(
			$map: map.get($component-map, 'element', 'td'),
			$prefix: #{$component-name}-element-td,
			$props: $use-custom-props-for-components
		);
	}
}
