@import '../context';

$name: 'vv-text';
$map: $vv-text;
$block: '.' + $name;

// custom props
:where(:root, :host) {
	@include spread-map-into-props($map: $map, $prefix: $name);
}

:where(#{$block}) {
	// block
	@include spread-map-into-attrs($map: $map, $prefix: $name);
}

// modifiers
@include spread-map-into-modifiers(
	$map,
	$prefix: $name,
	$key: 'modifier',
	$block: $block
);
