@use 'sass:map';
@import '../context';

@include spread-map-into-bem(
	$map: $vv-text,
	$block: map.get($components-names, vv-text),
	$props: $use-custom-props-for-components,
	$zero-specificity: $zero-specificity-for-compoenents
);
