$vv-card: (
	position: relative,
	display: flex,
	flex-direction: column,
	overflow: hidden,
	border-color: var(--color-surface-4),
	border-top-width: var(--border),
	border-right-width: var(--border),
	border-bottom-width: var(--border),
	border-left-width: var(--border),
	border-style: none,
	border-radius: var(--border-8),
	margin: var(--spacing-0),
	background-color: var(--color-surface),
	box-shadow: var(--shadow-md),
	color: var(--color-word-2),
	backdrop-filter: none,
	element: (
		header: (
			_alias: '> header',
			overflow: hidden,
			font-size: var(--text-md),
			padding: var(--spacing-md),
			background-color: var(--color-surface-1),
			border-bottom: var(--border) solid var(--color-surface-4),
		),
		picture: (
			_alias: '> picture > img',
			display: block,
			width: 100%,
			height: auto,
			object-fit: cover,
			object-position: center,
		),
		content: (
			padding: var(--spacing-md),
			flex-grow: 1,
			min-height: 0,
			overflow: auto,
		),
		footer: (
			_alias: '> footer',
			border-top: var(--border) solid var(--color-surface-4),
			padding: var(--spacing-md),
		),
	),
	modifier: (
		glass: (
			background-color:
				hsla(
					var(--color-surface-hue) var(--color-surface-saturation)
						var(--color-surface-lightness) / 60%
				),
			backdrop-filter: var(--blur-md),
			element: (
				header: (
					background-color:
						hsla(
							var(--color-surface-hue)
								var(--color-surface-saturation)
								var(--color-surface-lightness) / 30%
						),
				),
				footer: (
					background-color:
						hsla(
							var(--color-surface-hue)
								var(--color-surface-saturation)
								var(--color-surface-lightness) / 30%
						),
				),
			),
		),
	),
) !default;
