$vv-input-radio: (
	display: inline-flex,
	flex-wrap: nowrap,
	align-items: center,
	cursor: pointer,
	user-select: none,
	margin: 0 var(--input-gap) var(--input-gap) 0,
	color: var(--input-color),
	font-size: var(--input-font-size),
	line-height: var(--input-line-height),
	state: (
		disabled: (
			opacity: 0.3,
			cursor: not-allowed,
		),
		readonly: (
			opacity: 1,
			cursor: default,
			pointer-events: none,
		),
	),
	element: (
		input: (
			_alias: "> input[type='radio']",
			border: var(--spacing-2) solid var(--input-color),
			width: var(--spacing-20),
			height: var(--spacing-20),
			border-radius: 50%,
			margin: 0 var(--input-label-gap) 0 0,
			background: transparent,
			cursor: pointer,
			position: relative,
			pseudo: (
				after: (
					position: absolute,
					width: 70%,
					height: 70%,
					background: var(--input-color),
					inset: 50% 50%,
					border-radius: 50%,
					transform: translate(-50%, -50%) scale(0),
					will-change: transform,
					transition: transform 0.2s ease-in-out,
				),
			),
			state: (
				checked: (
					pseudo: (
						after: (
							transform: translate(-50%, -50%) scale(1),
						),
					),
				),
				focus-visible: (
					outline: var(--spacing-px) solid var(--color-brand),
					outline-offset: var(--spacing-2),
				),
			),
		),
	),
) !default;
