$vv-badge: (
	--badge-font-size: 0.7rem,
	--badge-color: var(--color-white),
	--badge-background-color: var(--color-brand),
	--badge-border-width: 0,
	[font-size]: var(--badge-font-size),
	[background-color]: var(--badge-background-color),
	[color]: var(--badge-color),
	[border-width]: var(--badge-border-width),
	[border-color]: var(--badge-background-color),
	border-style: solid,
	border-radius: 0.5em,
	min-height: 2em,
	min-width: 2em,
	padding: 0 0.5em,
	display: inline-flex,
	justify-content: center,
	align-items: center,
	gap: 0.5ch,
	white-space: nowrap,
	font-family: var(--font-sans),
	font-weight: var(--font-normal),
	text-shadow: none,
	state: (
		empty: (
			font-size: inherit,
			min-width: 0,
			min-height: 0,
			[width]: var(--badge-font-size),
			[height]: var(--badge-font-size),
			[border-radius]: calc(var(--badge-font-size) * 0.5),
			padding: 0,
		),
	),
	modifier: (
		sm: (
			--badge-font-size: 0.6rem,
		),
		rounded: (
			border-radius: 1em,
		),
		outline: (
			--badge-border-width: var(--border),
			[background-color]: transparent,
			[color]: var(--badge-background-color),
		),
		ghost: (
			[background-color]: transparent,
			[color]: var(--badge-background-color),
		),
		white: (
			--badge-background-color:
				hsla(
					var(--color-white-hue) var(--color-white-saturation)
						var(--color-white-lightness) / 80%
				),
			--badge-color: var(--color-black),
		),
		black: (
			--badge-background-color:
				hsla(
					var(--color-black-hue) var(--color-black-saturation)
						var(--color-black-lightness) / 80%
				),
			--badge-color: var(--color-white),
		),
		danger: (
			--badge-background-color: var(--color-danger),
		),
		success: (
			--badge-background-color: var(--color-success),
		),
		warning: (
			--badge-background-color: var(--color-warning),
		),
		info: (
			--badge-background-color: var(--color-info),
		),
		accent: (
			--badge-background-color: var(--color-accent),
		),
	),
) !default;
