$vv-toast: (
	--toast-pie-animation-duration: 3s,
	position: relative,
	display: flex,
	flex-direction: column,
	overflow: hidden,
	border-radius: var(--rounded),
	background-color: var(--color-surface),
	box-shadow: var(--shadow-lg),
	color: var(--color-word-2),
	backdrop-filter: none,
	border-width: var(--border),
	border-style: solid,
	border-color: var(--color-gray),
	width: clamp(15vw, 20rem, 80vw),
	element: (
		header: (
			display: flex,
			overflow: hidden,
			align-items: center,
			padding: var(--spacing-10),
			color: var(--color-white),
			background-color: var(--color-gray),
			font-size: var(--text-16),
		),
		content: (
			padding: var(--spacing-10),
			background-color: var(--color-surface-2),
			flex-grow: 1,
			min-height: 0,
			overflow: auto,
			font-size: var(--text-14),
		),
		close: (
			position: absolute,
			right: var(--spacing-10),
			inline-size: 1.1em,
			block-size: 1.1em,
			cursor: pointer,
			border-radius: var(--rounded),
			background-image: var(--bg-close),
			background-color: var(--color-surface-2),
			background-position: center,
			background-size: 70% auto,
			background-repeat: no-repeat,
		),
		pie: (
			position: absolute,
			display: block,
			right: var(--spacing-10),
			width: 1.1em,
			height: 1.1em,
			background-color: var(--color-white),
			border: 1px solid var(--color-white),
			border-radius: 50%,
			overflow: hidden,
			opacity: 0.8,
			cursor: pointer,
			pseudo: (
				before: (
					position: absolute,
					top: 0,
					width: 50%,
					height: 100%,
					transform-origin: 100% 50%,
					background-color: var(--color-gray),
					border-radius: 100% 0 0 100% / 50% 0 0 50%,
					will-change: transform,
					[animation]: spin var(--toast-pie-animation-duration) linear,
				),
				after: (
					position: absolute,
					top: 0,
					width: 50%,
					height: 100%,
					background-color: var(--color-white),
					will-change: opacity,
					border-radius: 100% 0 0 100% / 50% 0 0 50%,
					[animation]: pie-masks var(--toast-pie-animation-duration)
						steps(1, end),
					opacity: 0,
				),
			),
		),
		pie-mask: (
			position: absolute,
			top: 0,
			width: 50%,
			height: 100%,
			left: 50%,
			background-color: var(--color-gray),
			will-change: opacity,
			[animation]: pie-masks var(--toast-pie-animation-duration)
				steps(1, end) reverse,
			z-index: 1,
			opactiy: 1,
		),
	),
	modifier: (
		fixed: (
			position: fixed,
			z-index: var(--z-toast),
		),
		top: (
			inset-block: var(--spacing-lg) auto,
		),
		right: (
			inset-inline: auto var(--spacing-lg),
		),
		bottom: (
			inset-block: auto var(--spacing-lg),
		),
		left: (
			inset-inline: var(--spacing-lg) auto,
		),
		center: (
			inset-inline: 50% auto,
			transform: translateX(-50%),
		),
		dismissable: (
			element: (
				header: (
					padding-right: calc(var(--spacing-10) * 2 + 1.1em),
				),
			),
		),
		success: (
			border-color: var(--color-success),
			element: (
				header: (
					background-color: var(--color-success),
				),
				content: (
					border-color: var(--color-success),
					background-color: var(--color-surface-success),
				),
				pie: (
					pseudo: (
						before: (
							background-color: var(--color-success),
						),
					),
				),
				pie-mask: (
					background-color: var(--color-success),
				),
			),
		),
		danger: (
			border-color: var(--color-danger),
			element: (
				header: (
					background-color: var(--color-danger),
				),
				content: (
					border-color: var(--color-danger),
					background-color: var(--color-surface-danger),
				),
				pie: (
					pseudo: (
						before: (
							background-color: var(--color-danger),
						),
					),
				),
				pie-mask: (
					background-color: var(--color-danger),
				),
			),
		),
		warning: (
			border-color: var(--color-warning-darken-1),
			element: (
				header: (
					background-color: var(--color-warning-darken-1),
				),
				content: (
					border-color: var(--color-warning),
					background-color: var(--color-surface-warning),
				),
				pie: (
					pseudo: (
						before: (
							background-color: var(--color-warning),
						),
					),
				),
				pie-mask: (
					background-color: var(--color-warning),
				),
			),
		),
		info: (
			border-color: var(--color-info-darken-1),
			element: (
				header: (
					background-color: var(--color-info-darken-1),
				),
				content: (
					border-color: var(--color-info),
					background-color: var(--color-surface-info),
				),
				pie: (
					pseudo: (
						before: (
							background-color: var(--color-info-darken-1),
						),
					),
				),
				pie-mask: (
					background-color: var(--color-info-darken-1),
				),
			),
		),
		accent: (
			border-color: var(--color-accent),
			element: (
				header: (
					background-color: var(--color-accent),
				),
				content: (
					border-color: var(--color-accent),
					background-color: var(--color-surface-accent),
				),
				pie: (
					pseudo: (
						before: (
							background-color: var(--color-accent),
						),
					),
				),
				pie-mask: (
					background-color: var(--color-accent),
				),
			),
		),
		brand: (
			border-color: var(--color-brand),
			element: (
				header: (
					background-color: var(--color-brand),
				),
				content: (
					border-color: var(--color-brand),
					background-color: var(--color-surface-brand),
				),
				pie: (
					pseudo: (
						before: (
							background-color: var(--color-brand),
						),
					),
				),
				pie-mask: (
					background-color: var(--color-brand),
				),
			),
		),
	),
) !default;
