$vv-dialog: (
	display: flex,
	z-index: var(--z-modal-backdrop),
	position: fixed,
	inset: 0,
	align-items: center,
	justify-content: center,
	width: inherit,
	min-width: 100%,
	height: inherit,
	min-height: 100%,
	padding: var(--spacing-md),
	border: 0,
	background-color: var(--color-backdrop),
	backdrop-filter: var(--blur-sm),
	state: (
		close: (
			display: none,
		),
	),
	element: (
		wrapper: (
			_alias: '> article',
			position: relative,
			box-shadow: var(--shadow-lg),
			max-width: 700px,
			z-index: var(--z-modal),
			background: var(--color-surface),
		),
		header: (
			_alias: '> article > header',
			display: flex,
			flex-wrap: no-wrap,
			justify-content: space-between,
			align-items: center,
			font-size: var(--text-md),
			padding: var(--spacing-md),
			background: var(--color-surface-1),
			border-width: 0 0 var(--spacing-1) 0,
			border-color: var(--color-surface-5),
		),
		close: (
			display: flex,
			cursor: pointer,
		),
		content: (
			padding: var(--spacing-md),
		),
		footer: (
			_alias: '> article > footer',
			display: flex,
			justify-content: flex-end,
			padding: var(--spacing-md),
			background: var(--color-surface-1),
			border-width: var(--spacing-1) 0 0 0,
			border-color: var(--color-surface-5),
		),
	),
) !default;
