$vv-input-checkbox-group: (
	display: inline-flex,
	flex-direction: column,
	element: (
		legend: (
			_alias: '> legend',
			display: block,
			font-size: var(--text-xs),
			color: var(--color-word-3),
			margin-bottom: var(--spacing-xs),
		),
	),
	modifier: (
		horizontal: (
			display: flex,
			flex-direction: row,
			flex-wrap: wrap,
		),
	),
) !default;
