$vv-dropdown-action: (
	display: flex,
	width: 100%,
	overflow: hidden,
	gap: var(--spacing-sm),
	align-items: center,
	padding: var(--spacing-sm),
	color: var(--color-brand),
	cursor: pointer,
	state: (
		disabled: (
			opacity: var(--opacity-50),
			cursor: not-allowed,
		),
		hover: (
			background-color: var(--color-surface-brand),
		),
		focus-visible: (
			outline: var(--spacing-px) solid var(--color-brand),
			outline-offset: calc(var(--spacing-px) * -1),
		),
		pressed: (
			background-color: var(--color-surface-2),
		),
	),
) !default;
