@use 'sass:map';

$vv-loader: (
	position: relative,
	display: inline-block,
	appearance: none,
	width: 100%,
	height: 0.5rem,
	border: 0,
	border-radius: 999px,
	margin-bottom: 1em,
	overflow: hidden,
	color: var(--color-brand),
	state: (
		determinate: (
			pseudo: (
				-webkit-progress-bar: (
						background-color: var(--color-gray),
					),
				-webkit-progress-value: (
						background-color: var(--color-brand),
					),
				-webkit-progress-inner-element: (
						border: none,
					),
			),
		),
		indeterminate: (
			background: var(--color-gray)
				linear-gradient(
					to right,
					var(--color-brand) 30%,
					var(--color-gray) 30%
				)
				top left/150% 150% no-repeat,
			animation: progress-indeterminate 1.5s linear infinite,
			pseudo: (
				-webkit-progress-bar: (
						background: transparent,
					),
				-webkit-progress-value: (
						background: transparent,
					),
				-webkit-progress-inner-element: (
						border: none,
					),
			),
		),
	),
) !default;
