$vv-select: (
	display: var(--input-display),
	flex: var(--input-flex),
	flex-direction: var(--input-flex-direction),
	margin-bottom: var(--input-gap),
	element: (
		label: (
			_alias: '> label',
			display: var(--input-label-display),
			font-size: var(--input-label-font-size),
			color: var(--input-label-color),
			margin: 0 0 var(--input-label-gap) 0,
			white-space: var(--input-label-white-space),
			text-overflow: var(--input-label-text-overflow),
			overflow: var(--input-label-overflow),
			max-width: var(--input-label-max-width),
		),
		wrapper: (
			position: relative,
			display: flex,
			align-items: center,
			flex: 1,
			overflow: hidden,
			background-color: var(--color-surface-1),
			will-change: background-color,
			transition: background-color 0.2s ease-in-out,
			pseudo: (
				before: (
					position: absolute,
					height: var(--spacing-1),
					inset: auto 0 0 0,
					background: var(--color-word-5),
				),
				after: (
					position: absolute,
					height: var(--spacing-2),
					inset: auto 0 0 0,
					background: var(--color-brand),
					transform: scaleX(0),
					transform-origin: left,
					will-change: transform,
					transition: transform 0.2s ease-in-out,
				),
			),
			state: (
				hover: (
					background-color: var(--color-surface-3),
				),
				focus-within: (
					background-color: var(--color-surface-2),
					pseudo: (
						after: (
							transform: scaleX(1),
						),
					),
				),
			),
		),
		input: (
			_alias: 'select',
			display: block,
			flex: 1,
			color: var(--input-placeholder-color),
			[padding]: var(--input-padding-top) var(--input-padding-right)
				var(--input-padding-bottom) var(--input-padding-left),
			min-height: var(--spacing-50),
			background-image: var(--bg-chevron),
			background-repeat: no-repeat,
			[background-position]: right var(--input-padding-right) center,
			background-size: 1em,
		),
		icon: (
			_alias: ':where(svg, [data-icon])',
			margin: var(--spacing-sm),
			position: absolute,
			pointer-events: none,
		),
		icon-right: (
			_alias: 'select + :where(svg, [data-icon])',
			right: 0,
		),
		hint: (
			_alias: '> small',
			display: var(--input-hint-display),
			font-size: var(--input-hint-font-size),
			color: var(--input-hint-color),
			padding-top: var(--input-hint-gap),
			padding-inline: var(--spacing-xs),
			white-space: var(--input-hint-white-space),
			text-overflow: var(--input-hint-text-overflow),
			overflow: var(--input-hint-overflow),
			max-width: var(--input-hint-max-width),
		),
	),
	modifier: (
		dirty: (
			element: (
				input: (
					color: var(--input-color),
				),
			),
		),
		icon-left: (
			--input-padding-left: calc(var(--spacing-sm) * 2 + 1em),
		),
		icon-right: (
			--input-padding-right: calc(var(--spacing-sm) * 2 + 1em),
		),
		valid: (
			element: (
				wrapper: (
					pseudo: (
						after: (
							background: var(--input-valid-color),
							transform: scaleX(1),
						),
					),
				),
				hint: (
					color: var(--input-valid-color),
				),
				icon-right: (
					color: var(--input-valid-color),
				),
			),
		),
		invalid: (
			element: (
				wrapper: (
					pseudo: (
						after: (
							background: var(--input-invalid-color),
							transform: scaleX(1),
						),
					),
				),
				hint: (
					color: var(--input-invalid-color),
				),
				icon-right: (
					color: var(--input-invalid-color),
				),
			),
		),
		loading: (
			element: (
				wrapper: (
					pseudo: (
						before: (
							height: 2px,
							background: var(--color-brand-lighten-5),
						),
						after: (
							animation: progress 2.2s infinite,
						),
					),
				),
			),
		),
		readonly: (
			opacity: 1,
			element: (
				wrapper: (
					pseudo: (
						after: (
							opacity: 0,
						),
					),
					state: (
						hover: (
							background-color: var(--color-surface-1),
						),
					),
				),
				input: (
					background-image: none,
				),
			),
		),
	),
	state: (
		disabled: (
			opacity: 0.5,
		),
	),
) !default;
