$vv-avatar-group: (
	--avatar-group-spacing: var(--spacing-9),
	display: flex,
	align-items: flex-end,
	element: (
		item: (
			_alias: '> *',
			_combinator: '>',
			box-shadow: var(--shadow-md),
		),
		item-not-first: (
			_alias: '> *:not(:first-child)',
			[margin-left]: calc(-1 * var(--avatar-group-spacing)),
		),
	),
	modifier: (
		tight: (
			--avatar-group-spacing: var(--spacing-12),
		),
		relaxed: (
			--avatar-group-spacing: var(--spacing-6),
		),
	),
) !default;
