$vv-table: (
	width: 100%,
	element: (
		tr: (
			_alias: 'tr',
			border-width: 0 0 1px 0,
			border-style: solid,
			border-color: var(--color-alpha-1),
			state: (
				last-child: (
					border-width: 0,
				),
			),
		),
		th: (
			_alias: 'th',
			font-weight: semibold,
			padding-block: var(--spacing-md),
			font-size: var(--text-sm),
			color: var(--color-word-2),
		),
		td: (
			_alias: 'td',
			padding-block: var(--spacing-md),
			border-style: solid,
			font-size: var(--text-xs),
		),
	),
) !default;
