$vv-accordion-group: (
	display: flex,
	flex-direction: column,
	gap: var(--spacing-sm),
	element: (
		not-last-child: (
			_alias: '> details:not(:last-child)',
		),
	),
	modifier: (
		condensed: (
			gap: 0,
			element: (
				not-last-child: (
					border-bottom-width: 0,
				),
			),
		),
	),
) !default;
