$vv-nav: (
	--nav-item-padding: var(--spacing-xs) var(--spacing-sm),
	element: (
		menu: (
			_alias: 'ul',
			flex: 1,
			display: flex,
			flex-direction: column,
			gap: var(--spacing-2),
		),
		item: (
			_alias: 'li',
		),
		heading-label: (
			_alias: '[aria-hidden="true"]',
			display: block,
			font-weight: var(--font-semibold),
			[padding]: var(--nav-item-padding),
		),
		item-label: (
			_alias: 'li > a',
			display: flex,
			align-items: center,
			will-change: background-color color,
			transition: all 0.3s ease-in-out,
			border-radius: var(--rounded-md),
			color: var(--color-word-3),
			[padding]: var(--nav-item-padding),
			state: (
				hover: (
					background-color: var(--color-surface-2),
					color: var(--color-word-1),
				),
				active: (
					background-color: var(--color-surface-3),
				),
				current: (
					background-color: var(--color-surface-2),
					color: var(--color-word-1),
				),
			),
		),
		divider: (
			_alias: 'li[role="separator"]',
			display: block,
			margin-block: var(--spacing-16),
			height: var(--spacing-px),
			background-color: var(--color-surface-3),
		),
	),
	modifier: (
		menu: (
			font-size: 0.9em,
			display: flex,
			flex-direction: column,
		),
		border: (
			--nav-item-padding: var(--spacing-8) var(--spacing-12),
			font-size: var(--text-12),
			display: flex,
			flex-direction: column,
			border-left: var(--border) solid var(--color-surface-3),
			element: (
				heading-label: (
					text-transform: uppercase,
				),
				item-label: (
					margin-left: calc(-1 * var(--border)),
					border-left: var(--border) solid var(--color-surface-3),
					border-radius: 0,
					state: (
						hover: (
							border-color: var(--color-brand),
						),
						selected: (
							border-color: var(--color-brand),
						),
					),
				),
			),
		),
	),
) !default;
