$vv-accordion: (
	--accordion-marker-size:
		calc(var(--spacing-sm) + var(--leading-normal) * 1em),
	--accordion-padding-top: var(--spacing-xs),
	--accordion-padding-right: var(--spacing-xs),
	--accordion-padding-bottom: var(--spacing-xs),
	--accordion-padding-left: var(--spacing-xs),
	overflow: hidden,
	state: (
		open: (
			element: (
				summary: (
					background-color: var(--color-surface-2),
					pseudo: (
						before: (
							transform: rotate(0),
						),
					),
				),
			),
		),
	),
	element: (
		summary: (
			_alias: '> summary',
			position: relative,
			cursor: pointer,
			[padding-top]: var(--accordion-padding-top),
			[padding-right]: var(--accordion-padding-right),
			[padding-bottom]: var(--accordion-padding-bottom),
			[padding-left]:
				calc(
					var(--accordion-padding-left) + var(--accordion-marker-size)
				),
			line-height: var(--leading-normal),
			color: var(--color-word-2),
			will-change: background-color,
			transition: background-color 0.3s ease-in-out,
			font-size: var(--text-sm),
			border-radius: var(--rounded-lg),
			pseudo: (
				before: (
					display: block,
					position: absolute,
					[top]: var(--accordion-padding-top),
					[left]: var(--accordion-padding-left),
					width: calc(var(--leading-normal) * 1em),
					height: calc(var(--leading-normal) * 1em),
					background-image: var(--bg-chevron),
					background-position: center,
					background-size: 1em,
					background-repeat: no-repeat,
					will-change: transform,
					transition: transform 0.3s ease-in-out,
					transform: rotate(-90deg),
				),
				marker: (
					display: none,
				),
				-webkit-details-marker: (
						display: none,
					),
			),
			state: (
				hover: (
					background-color: var(--color-surface-1),
				),
			),
		),
		content: (
			_alias: '> summary + *',
			padding-block: var(--spacing-sm),
			[padding-inline]: var(--accordion-padding-left)
				var(--accordion-padding-right),
		),
	),
	modifier: (
		marker-right: (
			element: (
				summary: (
					[padding-right]:
						calc(
							var(--accordion-padding-right) +
								var(--accordion-marker-size)
						),
					[padding-left]: var(--accordion-padding-left),
					pseudo: (
						before: (
							left: auto,
							[right]: var(--accordion-padding-right),
							transform: rotate(0def),
						),
					),
				),
			),
			state: (
				open: (
					element: (
						summary: (
							pseudo: (
								before: (
									transform: rotate(-180deg),
								),
							),
						),
					),
				),
			),
		),
		bordered: (
			--accordion-padding-top: var(--spacing-xs),
			--accordion-padding-right: var(--spacing-xs),
			--accordion-padding-bottom: var(--spacing-xs),
			--accordion-padding-left: var(--spacing-xs),
			border: var(--border) solid var(--color-surface-4),
			border-radius: var(--rounded-lg),
			state: (
				open: (
					element: (
						summary: (
							border-bottom-right-radius: 0,
							border-bottom-left-radius: 0,
						),
					),
				),
			),
		),
	),
) !default;
