$vv-badge: (
	--badge-font-size: 0.7rem,
	[font-size]: var(--badge-font-size),
	border-radius: 0.5em,
	background: var(--color-brand),
	color: var(--color-white),
	line-height: 2em,
	min-height: 2em,
	min-width: 2em,
	padding: 0 0.5em,
	display: inline-flex,
	justify-content: center,
	align-items: center,
	gap: 0.5ch,
	white-space: nowrap,
	font-family: var(--font-sans),
	font-weight: var(--font-normal),
	text-shadow: none,
	state: (
		empty: (
			font-size: inherit,
			min-width: 0,
			min-height: 0,
			[width]: var(--badge-font-size),
			[height]: var(--badge-font-size),
			[border-radius]: calc(var(--badge-font-size) * 0.5),
			padding: 0,
		),
	),
	modifier: (
		small: (
			--badge-font-size: 0.6rem,
		),
		rounded: (
			border-radius: 1em,
		),
		white: (
			background: alpha-color('white', 80%),
			color: var(--color-black),
		),
		black: (
			background: alpha-color('black', 80%),
			color: var(--color-white),
		),
		danger: (
			background: var(--color-danger),
		),
		success: (
			background: var(--color-success),
		),
		warning: (
			background: var(--color-warning),
		),
	),
) !default;
