$animate: (
	none: none,
	indeterminate: indeterminate 2s infinite,
	spin: spin 1s infinite,
	ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite,
	pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite,
	bounce: bounce 1s infinite,
) !default;
