// background-attachment
$background-attachment: (fixed, local, scroll) !default;

// background-clip
$background-clip: (
	border: border-box,
	padding: padding-box,
	content: content-box,
	text: text,
) !default;

// background-origin
$background-origin: (
	border: border-box,
	padding: padding-box,
	content: content-box,
) !default;

// background-position
$background-position: (
	bottom: bottom,
	center: center,
	left: left,
	left-bottom: left bottom,
	left-top: left top,
	right: right,
	right-bottom: right bottom,
	right-top: right top,
	top: top,
) !default;

// background-repeat
$background-repeat: (
	repeat: repeat,
	no-repeat: no-repeat,
	repeat-x: repeat-x,
	repeat-y: repeat-y,
	repeat-round: round,
	repeat-space: space,
) !default;

// background-size
$background-size: (auto, cover, contain) !default;

// background-image
$background-image: (
	none: none,
	chevron:
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(#{hex-to-rgb($color-word)})' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E"),
	grid:
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(51 65 85 / 0.25)'%3E%3Cpath d='M0 .5H31.5V32'/%3E%3C/svg%3E"),
	check:
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(#{hex-to-rgb($color-word)})' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E"),
	minus:
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(#{hex-to-rgb($color-word)})' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E"),
) !default;
