// background-attachment
$background-attachment: (fixed, local, scroll) !default;

// background-clip
$background-clip: (
	border: border-box,
	padding: padding-box,
	content: content-box,
	text: text,
) !default;

// background-origin
$background-origin: (
	border: border-box,
	padding: padding-box,
	content: content-box,
) !default;

// background-position
$background-position: (
	bottom: bottom,
	center: center,
	left: left,
	left-bottom: left bottom,
	left-top: left top,
	right: right,
	right-bottom: right bottom,
	right-top: right top,
	top: top,
) !default;

// background-repeat
$background-repeat: (
	repeat: repeat,
	no-repeat: no-repeat,
	repeat-x: repeat-x,
	repeat-y: repeat-y,
	repeat-round: round,
	repeat-space: space,
) !default;

// background-size
$background-size: (auto, cover, contain) !default;
