@use 'sass:color';
@use 'sass:map';

// color variables
$color-scheme: light !default;
$color-transparent: transparent !default;
$color-black: #000 !default;
$color-white: #fff !default;
$color-brand: #1976d2 !default;
$color-accent: #9c27b0 !default;
$color-success: #21ba45 !default;
$color-danger: #c10015 !default;
$color-info: #31ccec !default;
$color-warning: #f2c037 !default;
$color-gray: hsl(color.hue($color-brand) 15% 50%) !default;
$color-word: hsl(color.hue($color-brand) 15% 10%) !default;
$color-surface: hsl(color.hue($color-brand) 10% 98%) !default;
$color-surface-palette: (
	brand: hsl(color.hue($color-brand) color.saturation($color-brand) 90%),
	accent: hsl(color.hue($color-accent) color.saturation($color-accent) 90%),
	success: hsl(color.hue($color-success) color.saturation($color-success) 90%),
	danger: hsl(color.hue($color-danger) color.saturation($color-danger) 90%),
	info: hsl(color.hue($color-info) color.saturation($color-info) 90%),
	warning: hsl(color.hue($color-warning) color.saturation($color-warning) 90%),
) !default;
$color-shadow: hsl(color.hue($color-brand) 50% 20%) !default;
$color-backdrop: hsla(color.hue($color-brand) 50% 20% / 20%) !default;
$color-alpha: hsla(0deg 0% 0% / 0%) !default;

// colors map
$colors: (
	scheme: $color-scheme,
	transparent: $color-transparent,
	black: hsla-map($color-black, 'black'),
	white: hsla-map($color-white, 'white'),
	brand: color-shades-map($color-brand, 'brand'),
	accent: color-shades-map($color-accent, 'accent'),
	success: color-shades-map($color-success, 'success'),
	danger: color-shades-map($color-danger, 'danger'),
	info: color-shades-map($color-info, 'info'),
	warning: color-shades-map($color-warning, 'warning'),
	gray: color-shades-map($color-gray, 'gray', $scale: 15%),
	word: color-lighten-map($color-word, 'word', $scale: 15%),
	surface:
		map.merge(
			color-darken-map($color-surface, 'surface', $scale: 2%),
			$color-surface-palette
		),
	shadow: hsla-map($color-shadow, 'shadow'),
	backdrop: hsla-map($color-backdrop, 'backdrop'),
	alpha: color-alpha-map($color-alpha, 'alpha', $steps: 5, $scale: 5%),
) !default;
