// use custom props for components
$use-custom-props-for-components: true !default;

// enable zero specificity for compoenents
$zero-specificity-for-compoenents: true !default;

// enable zero specificity for utilities
$zero-specificity-for-utilities: true !default;

// components prefix
$components-prefix: vv !default;

// components names
$components-names: (
	vv-button: $components-prefix + -button,
	vv-text: $components-prefix + -text,
	vv-table: $components-prefix + -table,
	vv-button-group: $components-prefix + -button-group,
	vv-badge: $components-prefix + -badge,
) !default;
