$input: (
	display: flex,
	flex: 1,
	flex-direction: column,
	spacing-top: var(--spacing-sm),
	spacing-right: var(--spacing-sm),
	spacing-bottom: var(--spacing-sm),
	spacing-left: var(--spacing-sm),
	color: var(--color-word),
	background-color: var(--color-surface-1),
	gap: var(--spacing-md),
	line-height: var(--leading-normal),
	font-size: var(--text-16),
	min-height: var(--spacing-52),
	min-width: 0,
	label: (
		color: var(--color-word-2),
		display: flex,
		align-items: center,
		font-size: var(--text-xs),
		gap: var(--spacing-xs),
		white-space: nowrap,
		text-overflow: ellipsis,
		overflow: hidden,
		max-width: 100%,
	),
	icon: (
		position: absolute,
		width: 1em,
		pointer-events: none,
		margin: 0 var(--spacing-sm),
	),
	hint: (
		display: block,
		font-size: var(--text-12),
		color: var(--color-word-2),
		gap: var(--spacing-8),
		white-space: nowrap,
		text-overflow: ellipsis,
		overflow: hidden,
		max-width: 100%,
	),
	placeholder: (
		color: var(--color-word-4),
	),
	valid: (
		color: var(--color-success),
	),
	invalid: (
		color: var(--color-danger),
	),
	floating: (
		padding-top: calc(var(--input-spacing-top) + 0.55em),
		padding-bottom: calc(var(--input-spacing-bottom) - 0.55em),
		label: (
			font-size: var(--text-12),
			transform: translateY(-0.8em),
		),
	),
) !default;
