// aspect-ratio
$aspect-ratio: (
	auto: auto,
	square: '1/1',
	photo: '3/2',
	tv: '4/3',
	wide: '16/9',
	ultrawide: '21/9',
) !default;

// z-index
$z-index: (
	dropdown: 1000,
	sticky: 1020,
	fixed: 1030,
	modal-backdrop: 1040,
	modal: 1050,
	confirm-backdrop: 1060,
	confirm: 1070,
	popover: 1060,
	tooltip: 1070,
	toast: 1080,
	notification-alert: 1090,
	auto: 'auto',
) !default;
