// aspect-ratio
$aspect-ratio: (
	auto: auto,
	square: '1/1',
	photo: '3/2',
	tv: '4/3',
	wide: '16/9',
	ultrawide: '21/9',
) !default;

// columns
$columns: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12) !default;

// break-after
$break-after: (
	auto,
	avoid,
	all,
	avoid-page,
	page,
	left,
	right,
	column
) !default;

// break-before
$break-before: (
	auto,
	avoid,
	all,
	avoid-page,
	page,
	left,
	right,
	column
) !default;

// break-inside
$break-inside: (auto, avoid, avoid-page, avoid-column) !default;

// display-without-breakpoints
$display-without-breakpoints: (
	table,
	inline-table,
	table-caption,
	table-cell,
	table-column,
	table-column-group,
	table-footer-group,
	table-header-group,
	table-row-group,
	table-row,
	flow-root,
	contents,
	list-item
) !default;

// display-with-breakpoints
$display-with-breakpoints: (
	block,
	inline-block,
	inline,
	flex,
	inline-flex,
	grid,
	inline-grid,
	none
) !default;

// object-fit
$object-fit: (fill, contain, cover, none, scale-down) !default;

// object-position
$object-position: (
	bottom: bottom,
	center: center,
	left: left,
	left-bottom: left bottom,
	left-top: left top,
	right: right,
	right-bottom: right bottom,
	right-top: right top,
	top: top,
) !default;

// position
$position: (static, fixed, absolute, relative, sticky) !default;

// visibility
$visibility: (
	visible: visible,
	invisible: hidden,
) !default;

// z-index
$z-index: (
	dropdown: 1000,
	sticky: 1020,
	fixed: 1030,
	modal-backdrop: 1040,
	modal: 1050,
	confirm-backdrop: 1060,
	confirm: 1070,
	popover: 1060,
	tooltip: 1070,
	toast: 1080,
	notification-alert: 1090,
	auto: 'auto',
) !default;
