// width
$width: (
	auto: auto,
	1\/2: 50%,
	1\/3: 33.3333%,
	2\/3: 66.6667%,
	1\/4: 25%,
	2\/4: 50%,
	3\/4: 75%,
	1\/5: 20%,
	2\/5: 40%,
	3\/5: 60%,
	4\/5: 80%,
	1\/6: 16.6667%,
	2\/6: 33.3333%,
	3\/6: 50%,
	4\/6: 66.6667%,
	5\/6: 83.3333%,
	1\/12: 8.3333%,
	2\/12: 16.6667%,
	3\/12: 25%,
	4\/12: 33.3333%,
	5\/12: 41.6667%,
	6\/12: 50%,
	7\/12: 58.3333%,
	8\/12: 66.6667%,
	9\/12: 75%,
	10\/12: 83.3333%,
	11\/12: 91.6667%,
	full: 100%,
	screen: 100vw,
	min: min-content,
	max: max-content,
	fit: fit-content,
) !default;

// height
$height: (
	auto: auto,
	1\/2: 50%,
	1\/3: 33.3333%,
	2\/3: 66.6667%,
	1\/4: 25%,
	2\/4: 50%,
	3\/4: 75%,
	1\/5: 20%,
	2\/5: 40%,
	3\/5: 60%,
	4\/5: 80%,
	1\/6: 16.6667%,
	2\/6: 33.3333%,
	3\/6: 50%,
	4\/6: 66.6667%,
	5\/6: 83.3333%,
	full: 100%,
	screen: 100vh,
	min: min-content,
	max: max-content,
	fit: fit-content,
) !default;

// max-width
$max-width: (
	0: 0px,
	none: none,
	full: 100%,
	min: min-content,
	max: max-content,
	fit: fit-content,
	prose: 65ch,
) !default;

// max-height
$max-height: (
	full: 100%,
	screen: 100vh,
	min: min-content,
	max: max-content,
	fit: fit-content,
) !default;

// min-width
$min-width: (
	0: 0px,
	full: 100%,
	min: min-content,
	max: max-content,
	fit: fit-content,
) !default;

// min-height
$min-height: (
	0: 0px,
	full: 100%,
	screen: 100vh,
	min: min-content,
	max: max-content,
	fit: fit-content,
) !default;
