// static spacing
$spacing: (
	0: 0,
	px: 1px,
	1: 0.0625rem,
	2: 0.125rem,
	3: 0.1875rem,
	4: 0.25rem,
	5: 0.3125rem,
	6: 0.375rem,
	7: 0.4375rem,
	8: 0.5rem,
	9: 0.5625rem,
	10: 0.625rem,
	12: 0.75rem,
	14: 0.875rem,
	16: 1rem,
	18: 1.125rem,
	20: 1.25rem,
	22: 1.375rem,
	24: 1.5rem,
	26: 1.625rem,
	28: 1.75rem,
	32: 2rem,
	34: 2.125rem,
	36: 2.25rem,
	38: 2.375rem,
	40: 2.5rem,
	44: 2.75rem,
	48: 3rem,
	50: 3.125rem,
	56: 3.5rem,
	64: 4rem,
	80: 5rem,
	96: 6rem,
	100: 6.25rem,
	112: 7rem,
	128: 8rem,
	144: 9rem,
	150: 9.375rem,
	160: 10rem,
	176: 11rem,
	192: 12rem,
	208: 13rem,
	224: 14rem,
	240: 15rem,
	256: 16rem,
	288: 18rem,
	300: 18.75rem,
	320: 20rem,
	384: 24rem,
) !default;

// dynamic spacing
// could be a static reference or a custom value
$spacing-dynamic: (
	xs: (
		xxs: 6,
		sm: 8,
		lg: 10,
	),
	sm: (
		xxs: 10,
		sm: 12,
		lg: 14,
	),
	md: (
		xxs: 12,
		sm: 14,
		lg: 16,
	),
	lg: (
		xxs: 16,
		sm: 22,
		lg: 36,
	),
	xl: (
		xxs: 24,
		sm: 36,
		lg: 48,
	),
) !default;
