// transition property
$transition-property: (
	none: none,
	all: all,
	colors:
		'color, background-color, border-color, text-decoration-color, fill, stroke',
	opacity: opacity,
	shadow: box-shadow,
	transform: 'transform, scale, rotate, translate, skew',
) !default;

// transition duration and transition delay
$transition-duration-delay: (
	75: 75ms,
	100: 100ms,
	150: 150ms,
	200: 200ms,
	300: 300ms,
	500: 500ms,
	700: 700ms,
	1000: 1000ms,
) !default;

// transition timing function
$transition-timing-function: (
	linear: linear,
	in: cubic-bezier(0.4, 0, 1, 1),
	out: cubic-bezier(0, 0, 0.2, 1),
	in-out: cubic-bezier(0.4, 0, 0.2, 1),
) !default;

// animation
$animation: (
	none: none,
	indeterminate: indeterminate 2s infinite,
	progress-indeterminate: progress-indeterminate 1.5s linear infinite,
	spin: spin 1s infinite,
	ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite,
	pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite,
	bounce: bounce 1s infinite,
	shine: shine 1.5s infinite,
	clippath: clippath 3s infinite,
) !default;
