// font-variables
$font-family-sans: 'ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"' !default;
$font-family-serif: 'ui-serif, Georgia, Cambria, "Times New Roman", Times, serif' !default;
$font-family-mono: 'ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace' !default;

// font-family
$font-family: (
	sans: $font-family-sans,
	serif: $font-family-serif,
	mono: $font-family-mono,
) !default;

// font-size static
$font-size: (
	12: 0.75rem,
	14: 0.875rem,
	16: 1rem,
	18: 1.125rem,
	20: 1.25rem,
	24: 1.5rem,
	30: 1.875rem,
	36: 2.25rem,
	48: 3rem,
	60: 3.75rem,
	72: 4.5rem,
	96: 6rem,
	128: 8rem,
) !default;

// font-size dynamic
// could be a static reference or a custom value
$font-size-dynamic: (
	xs: (
		xxs: 12,
		sm: 14,
		lg: 16,
	),
	sm: (
		xxs: 14,
		sm: 16,
		lg: 18,
	),
	base: (
		xxs: 16,
		sm: 18,
		lg: 20,
	),
	lg: (
		xxs: 18,
		sm: 20,
		lg: 24,
	),
	xl: (
		xxs: 20,
		sm: 24,
		lg: 30,
	),
	xxl: (
		xxs: 24,
		sm: 30,
		lg: 36,
	),
	xxxl: (
		xxs: 30,
		sm: 36,
		lg: 48,
	),
) !default;

// font-weight
$font-weight: (
	thin: 100,
	extralight: 200,
	light: 300,
	normal: 400,
	medium: 500,
	semibold: 600,
	bold: 700,
	extrabold: 800,
	black: 900,
) !default;

// line-height (leading)
$line-height: (
	none: 1,
	tight: 1.25,
	snug: 1.375,
	normal: 1.5,
	relaxed: 1.625,
	loose: 2,
) !default;

// letter-spacing (tracking)
$letter-spacing: (
	tighter: -0.05em,
	tight: -0.025em,
	normal: 0em,
	wide: 0.025em,
	wider: 0.05em,
	widest: 0.1em,
) !default;
