// use custom props for components
$use-custom-props-for-components: true !default;

// enable zero specificity for components
$zero-specificity-for-components: true !default;

// enable zero specificity for utilities
$zero-specificity-for-utilities: true !default;

// components prefix
$components-prefix: vv !default;

// components names
$components-names: (
	vv-accordion-group: $components-prefix + -accordion-group,
	vv-accordion: $components-prefix + -accordion,
	vv-alert: $components-prefix + -alert,
	vv-badge: $components-prefix + -badge,
	vv-breadcrumb: $components-prefix + -breadcrumb,
	vv-button-group: $components-prefix + -button-group,
	vv-button: $components-prefix + -button,
	vv-card: $components-prefix + -card,
	vv-dialog: $components-prefix + -dialog,
	vv-dropdown: $components-prefix + -dropdown,
	vv-dropdown-action: $components-prefix + -dropdown-action,
	vv-dropdown-option: $components-prefix + -dropdown-option,
	vv-checkbox-group: $components-prefix + -checkbox-group,
	vv-checkbox: $components-prefix + -checkbox,
	vv-radio-group: $components-prefix + -radio-group,
	vv-radio: $components-prefix + -radio,
	vv-avatar: $components-prefix + -avatar,
	vv-avatar-group: $components-prefix + -avatar-group,
	vv-input-text: $components-prefix + -input-text,
	vv-nav: $components-prefix + -nav,
	vv-progress: $components-prefix + -progress,
	vv-select: $components-prefix + -select,
	vv-skeleton: $components-prefix + -skeleton,
	vv-tab: $components-prefix + -tab,
	vv-table: $components-prefix + -table,
	vv-text: $components-prefix + -text,
	vv-textarea: $components-prefix + -textarea,
	vv-toast: $components-prefix + -toast,
	vv-tooltip: $components-prefix + -tooltip,
) !default;
