// use custom props for components
$use-custom-props-for-components: true !default;

// enable zero specificity for compoenents
$zero-specificity-for-compoenents: true !default;

// enable zero specificity for utilities
$zero-specificity-for-utilities: true !default;

// components prefix
$components-prefix: vv !default;

// components names
$components-names: (
	vv-accordion: $components-prefix + -accordion,
	vv-alert: $components-prefix + -alert,
	vv-badge: $components-prefix + -badge,
	vv-breadcrumb: $components-prefix + -breadcrumb,
	vv-button-group: $components-prefix + -button-group,
	vv-button: $components-prefix + -button,
	vv-card: $components-prefix + -card,
	vv-dialog: $components-prefix + -dialog,
	vv-dropdown: $components-prefix + -dropdown,
	vv-input-checkbox-group: $components-prefix + -input-checkbox-group,
	vv-input-checkbox: $components-prefix + -input-checkbox,
	vv-input-radio-group: $components-prefix + -input-radio-group,
	vv-input-radio: $components-prefix + -input-radio,
	vv-avatar: $components-prefix + -avatar,
	vv-input-text: $components-prefix + -input-text,
	vv-nav: $components-prefix + -nav,
	vv-progress: $components-prefix + -progress,
	vv-select: $components-prefix + -select,
	vv-table: $components-prefix + -table,
	vv-text: $components-prefix + -text,
	vv-textarea: $components-prefix + -textarea,
	vv-toast: $components-prefix + -toast,
	vv-tooltip: $components-prefix + -tooltip,
) !default;
