// reset
@use 'reset';

// props
@use 'props';

:where(:host, :root, .theme) {
	accent-color: var(--color-brand);
	background: var(--color-surface);
	caret-color: var(--color-brand);
	color-scheme: var(--color-scheme);
	color: var(--color-word);
	scrollbar-color: var(--color-brand);
	font-family: var(--font-sans);
}
