:where(:host, :root, .theme-dark) {
	accent-color: var(--color-brand);
	background: var(--color-surface);
	caret-color: var(--color-brand);
	color-scheme: var(--color-scheme);
	color: var(--color-text);
	scrollbar-color: var(--color-brand);
	font-family: var(--font-sans);
}

:where(ul) {
	@extend %list-disc;
	@extend %list-inside;
}

:where(ol) {
	@extend %list-decimal;
	@extend %list-inside;
}

:where(b, strong, th) {
	@extend %font-bold;
}

:where(em, i, cite, dfn, var) {
	@extend %italic;
}

:where(cite, dfn, var) {
	@extend %font-serif;
}

:where(del, s) {
	@extend %line-through;
}

:where(ins, u, cite, a) {
	@extend %underline;
}

:where(abbr) {
	@extend %underline;
	@extend %decoration-dotted;
}

:where(code) {
	@extend %font-mono;
}

:where(button, input[type='button'], input[type='submit'], input[type='reset']) {
	@extend %vv-button;
}
