:where(:host, :root, [class*='theme']) {
	accent-color: var(--color-brand);
	background: var(--color-surface);
	caret-color: var(--color-brand);
	color-scheme: var(--color-scheme);
	color: var(--color-word);
	scrollbar-color: var(--color-brand);
	font-family: var(--font-sans);
}

:where(.preflight) {
	// typography
	:where(h1, h2, h3, h4, h5, h6) {
		@extend %vv-text !optional;
		@extend %vv-text--headline !optional;
	}

	:where(h1) {
		@extend %vv-text--size-1 !optional;
	}

	:where(h2) {
		@extend %vv-text--size-2 !optional;
	}

	:where(h3) {
		@extend %vv-text--size-3 !optional;
	}

	:where(h4) {
		@extend %vv-text--size-4 !optional;
	}

	:where(h5) {
		@extend %vv-text--size-5 !optional;
	}

	:where(h6) {
		@extend %vv-text--size-6 !optional;
	}

	:where(p) {
		@extend %vv-text !optional;
		@extend %vv-text--copy !optional;
	}

	:where(blockquote) {
		@extend %vv-text !optional;
		@extend %vv-text--quote !optional;
	}

	:where(ul, ol) {
		@extend %list-inside !optional;
		@extend %my-sm !optional;
		@extend %pl-lg !optional;
	}

	:where(ul) {
		@extend %list-disc !optional;
	}

	:where(ol) {
		@extend %list-decimal !optional;
	}

	:where(b, strong, th) {
		@extend %font-bold !optional;
	}

	:where(em, i, cite, dfn, var) {
		@extend %italic !optional;
	}

	:where(dfn, var) {
		@extend %font-serif !optional;
	}

	:where(del, s) {
		@extend %line-through !optional;
	}

	:where(ins, u, cite, a) {
		@extend %underline !optional;
	}

	:where(abbr) {
		@extend %underline !optional;
		@extend %decoration-dotted !optional;
	}

	:where(code) {
		@extend %font-mono !optional;
	}

	:where(sub) {
		@extend %align-sub !optional;
		@extend %text-smaller !optional;
	}

	:where(sup) {
		@extend %align-super !optional;
		@extend %text-smaller !optional;
	}

	:where(q) {
		@extend %font-serif !optional;
	}

	:where(small) {
		@extend %text-smaller !optional;
	}

	:where(mark) {
		@extend %bg-warning !optional;
	}

	:where(pre) {
		@extend %font-mono !optional;
		@extend %whitespace-pre-line !optional;
	}

	:where(dl) {
		@extend %my-sm !optional;
	}

	:where(dd) {
		@extend %ml-sm !optional;
	}

	:where(hr) {
		@extend %my-lg !optional;
		@extend %border !optional;
		@extend %border-solid !optional;
		@extend %border-surface-3 !optional;
	}

	// buttons
	:where(button, input[type='button'], input[type='submit'], input[type='reset']) {
		@extend %vv-button !optional;

		&:where([type='button']) {
			@extend %vv-button--primary !optional;
		}

		&:where([type='reset']) {
			@extend %vv-button--secondary !optional;
		}

		&:where(:disabled) {
			@extend %vv-button--disabled !optional;
		}

		&:where(:hover) {
			@extend %vv-button--hover !optional;
		}

		&:where(:focus) {
			@extend %vv-button--focus !optional;
		}

		&:where(:focus-visible) {
			@extend %vv-button--focus-visible !optional;
		}

		&:where(:visited) {
			@extend %vv-button--visited !optional;
		}

		&:where(:active) {
			@extend %vv-button--active !optional;
		}
	}

	// table
	:where(table) {
		@extend %vv-table !optional;

		:where(tr) {
			@extend %vv-table__tr !optional;
		}

		:where(td) {
			@extend %vv-table__td !optional;
		}

		:where(th) {
			@extend %vv-table__th !optional;
		}
	}

	// progress
	:where(progress) {
		@extend %vv-progress !optional;
	}

	// checkbox
	:where(label:has(input[type='checkbox'])) {
		@extend %vv-input-checkbox !optional;

		:where(input[type='checkbox']) {
			@extend %vv-input-checkbox__input !optional;

			&:checked {
				@extend %vv-input-checkbox-element-input--checked !optional;
			}

			&:indeterminate {
				@extend %vv-input-checkbox-element-input--indeterminate
						!optional;
			}

			&:focus-visible {
				@extend %vv-input-checkbox-element-input--focus-visible
						!optional;
			}
		}
	}

	:where(label:has(input[type='checkbox']:disabled)) {
		@extend %vv-input-checkbox--disabled !optional;
	}

	// radio
	:where(label:has(input[type='radio'])) {
		@extend %vv-input-checkbox !optional;

		:where(input[type='radio']) {
			@extend %vv-input-radio__input !optional;

			&:checked {
				@extend %vv-input-radio-element-input--checked !optional;
			}

			&:focus-visible {
				@extend %vv-input-radio-element-input--focus-visible !optional;
			}
		}
	}

	:where(label:has(input[type='radio']:disabled)) {
		@extend %vv-input-radio--disabled !optional;
	}

	// textarea
	:where(textarea) {
		@extend %vv-textarea__wrapper !optional;
		@extend %vv-textarea__input !optional;

		&:disabled {
			@extend %vv-textarea--disabled !optional;
		}

		&:readonly {
			@extend %vv-textarea--readonly !optional;
		}
	}

	// select
	:where(select) {
		@extend %vv-select__wrapper !optional;
		@extend %vv-select__input !optional;

		&:disabled {
			@extend %vv-select--disabled !optional;
		}
	}

	// input text
	:where(input:not([type='radio'], [type='checkbox'], [type='button'], [type='submit'], [type='reset'])) {
		@extend %vv-input-text__wrapper !optional;
		@extend %vv-input-text__input !optional;

		&:disabled {
			@extend %vv-input-text--disabled !optional;
		}

		&:readonly {
			@extend %vv-input-text--readonly !optional;
		}
	}
}
