<section id='spacing__margin' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>Margin</h1>
	<h2 class='font-light text-word-3 mb-24'>Utilities for controlling an
		element's margin.
	</h2>

	{{> spacer-helpers/spacers }}

	<div class='max-h-288 overflow-y-auto mb-32'>
		<table class='vv-table'>
			<thead class='sticky z-sticky top-0 bg-surface'>
				<tr>
					<th>
						Class
					</th>
					<th>
						Properties
					</th>
				</tr>
			</thead>
			<tbody class='align-baseline'>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						m{t|r|b|l|}-{spacer-size}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						margin-{top|right|bottom|left}: {spacer-value};
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						m-x-{spacer-size}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						<p>margin-left: {spacer-value};</p>
						<p>margin-right: {spacer-value};</p>
					</td>
				</tr>
				<tr>
					<td
						translate='no'
						class='font-mono text-accent whitespace-nowrap'
					>
						m-y-{spacer-size}
					</td>
					<td
						translate='no'
						class='font-mono text-info whitespace-nowrap'
					>
						<p>margin-top: {spacer-value};</p>
						<p>margin-bottom: {spacer-value};</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>