<section id='component__vv-accordion' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>vv-accordion</h1>
	<h2 class='font-light text-word-3 mb-24'>accordion is an interactive widget
		that the user can open and close on demand.
	</h2>
	<div class='vv-accordion-group mb-24'>
		<details id='accordion-item-1' class='vv-accordion'>
			<summary
				class='vv-accordion__summary'
				aria-controls='#accordion-item-1'
				aria-expanded='false'
			>
				Lorem Ipsum
			</summary>
			<div aria-hidden='true' class='vv-accordion__content'>
				<p class='font-light text-word-3'>Lorem ipsum dolor sit amet,
					consectetur adipiscing elit. Aenean turpis diam, tempor non
					sem ut, suscipit gravida mi.</p>
			</div>
		</details>
		<details id='accordion-item-2' class='vv-accordion'>
			<summary
				class='vv-accordion__summary'
				aria-controls='#accordion-item-2'
				aria-expanded='false'
			>
				Lorem Ipsum
			</summary>
			<div aria-hidden='true' class='vv-accordion__content'>
				<p class='font-light text-word-3'>Lorem ipsum dolor sit amet,
					consectetur adipiscing elit. Aenean turpis diam, tempor non
					sem ut, suscipit gravida mi.</p>
			</div>
		</details>
		<details id='accordion-item-3' class='vv-accordion' open>
			<summary
				class='vv-accordion__summary'
				aria-controls='#accordion-item-3'
				aria-expanded='true'
			>
				Lorem Ipsum
			</summary>
			<div aria-hidden='false' class='vv-accordion__content'>
				<p class='font-light text-word-3'>Lorem ipsum dolor sit amet,
					consectetur adipiscing elit. Aenean turpis diam, tempor non
					sem ut, suscipit gravida mi.</p>
			</div>
		</details>
	</div>
	<div class='vv-accordion-group mb-24'>
		<details
			id='accordion-item-right-1'
			class='vv-accordion vv-accordion--marker-right'
		>
			<summary
				class='vv-accordion__summary'
				aria-controls='#accordion-item-right-1'
				aria-expanded='false'
			>
				Lorem Ipsum
			</summary>
			<div aria-hidden='true' class='vv-accordion__content'>
				<p class='font-light text-word-3'>Lorem ipsum dolor sit amet,
					consectetur adipiscing elit. Aenean turpis diam, tempor non
					sem ut, suscipit gravida mi.</p>
			</div>
		</details>
		<details
			id='accordion-item-right-2'
			class='vv-accordion vv-accordion--marker-right'
		>
			<summary
				class='vv-accordion__summary'
				aria-controls='#accordion-item-right-2'
				aria-expanded='false'
			>
				Lorem Ipsum
			</summary>
			<div aria-hidden='true' class='vv-accordion__content'>
				<p class='font-light text-word-3'>Lorem ipsum dolor sit amet,
					consectetur adipiscing elit. Aenean turpis diam, tempor non
					sem ut, suscipit gravida mi.</p>
			</div>
		</details>
		<details
			id='accordion-item-right-3'
			class='vv-accordion vv-accordion--marker-right'
			open
		>
			<summary
				class='vv-accordion__summary'
				aria-controls='#accordion-item-right-3'
				aria-expanded='true'
			>
				Lorem Ipsum
			</summary>
			<div aria-hidden='false' class='vv-accordion__content'>
				<p class='font-light text-word-3'>Lorem ipsum dolor sit amet,
					consectetur adipiscing elit. Aenean turpis diam, tempor non
					sem ut, suscipit gravida mi.</p>
			</div>
		</details>
	</div>
	<div class='vv-accordion-group'>
		<details
			id='accordion-item-bordered-1'
			class='vv-accordion vv-accordion--bordered'
		>
			<summary
				class='vv-accordion__summary'
				aria-controls='#accordion-item-bordered-1'
				aria-expanded='false'
			>
				Lorem Ipsum
			</summary>
			<div aria-hidden='true' class='vv-accordion__content'>
				<p class='font-light text-word-3'>Lorem ipsum dolor sit amet,
					consectetur adipiscing elit. Aenean turpis diam, tempor non
					sem ut, suscipit gravida mi.</p>
			</div>
		</details>
		<details
			id='accordion-item-bordered-2'
			class='vv-accordion vv-accordion--bordered'
		>
			<summary
				class='vv-accordion__summary'
				aria-controls='#accordion-item-bordered-2'
				aria-expanded='false'
			>
				Lorem Ipsum
			</summary>
			<div aria-hidden='true' class='vv-accordion__content'>
				<p class='font-light text-word-3'>Lorem ipsum dolor sit amet,
					consectetur adipiscing elit. Aenean turpis diam, tempor non
					sem ut, suscipit gravida mi.</p>
			</div>
		</details>
		<details
			id='accordion-item-bordered-3'
			class='vv-accordion vv-accordion--bordered'
			open
		>
			<summary
				class='vv-accordion__summary'
				aria-controls='#accordion-item-bordered-3'
				aria-expanded='true'
			>
				Lorem Ipsum
			</summary>
			<div aria-hidden='false' class='vv-accordion__content'>
				<p class='font-light text-word-3'>Lorem ipsum dolor sit amet,
					consectetur adipiscing elit. Aenean turpis diam, tempor non
					sem ut, suscipit gravida mi.</p>
			</div>
		</details>
	</div>
</section>