<section id='component__vv-badge' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>vv-badge</h1>
	<h2 class='font-light text-word-3 mb-24'>Badge is a small status indicator
		for another element.
	</h2>
	<div class='mb-24 flex items-center gap-4'>
		<span role='status' class='vv-badge vv-badge--small'>99+</span>
		<span role='status' class='vv-badge vv-badge--small vv-badge--black'>
			42
		</span>
		<span role='status' class='vv-badge vv-badge--small vv-badge--danger'>
			8
		</span>
		<span role='status' class='vv-badge vv-badge--small vv-badge--success'>
			<span class='iconify' data-icon='akar-icons:check'></span>
			NEW
		</span>
		<span role='status' class='vv-badge vv-badge--small vv-badge--warning'>
			<span class='iconify' data-icon='akar-icons:pencil'></span>
			DRAFT
		</span>
		<span role='status' class='vv-badge vv-badge--small'></span>
	</div>
	<div class='mb-24 flex items-center gap-4'>
		<span role='status' class='vv-badge'>99+</span>
		<span role='status' class='vv-badge vv-badge--black'>42</span>
		<span role='status' class='vv-badge vv-badge--danger'>8</span>
		<span role='status' class='vv-badge vv-badge--success'>
			<span class='iconify' data-icon='akar-icons:check'></span>
			NEW
		</span>
		<span role='status' class='vv-badge vv-badge--warning'>
			<span class='iconify' data-icon='akar-icons:pencil'></span>
			DRAFT
		</span>
		<span role='status' class='vv-badge'></span>
	</div>
	<div class='mb-24 flex items-center gap-4'>
		<span
			role='status'
			class='vv-badge vv-badge--rounded vv-badge--small'
		>99+</span>
		<span
			role='status'
			class='vv-badge vv-badge--rounded vv-badge--small vv-badge--black'
		>
			42
		</span>
		<span
			role='status'
			class='vv-badge vv-badge--rounded vv-badge--small vv-badge--danger'
		>
			8
		</span>
		<span
			role='status'
			class='vv-badge vv-badge--rounded vv-badge--small vv-badge--success'
		>
			<span class='iconify' data-icon='akar-icons:check'></span>
			NEW
		</span>
		<span
			role='status'
			class='vv-badge vv-badge--rounded vv-badge--small vv-badge--warning'
		>
			<span class='iconify' data-icon='akar-icons:pencil'></span>
			DRAFT
		</span>
	</div>
	<div class='flex items-center gap-4'>
		<span role='status' class='vv-badge vv-badge--rounded'>99+</span>
		<span role='status' class='vv-badge vv-badge--rounded vv-badge--black'>
			42
		</span>
		<span role='status' class='vv-badge vv-badge--rounded vv-badge--danger'>
			8
		</span>
		<span
			role='status'
			class='vv-badge vv-badge--rounded vv-badge--success'
		>
			<span class='iconify' data-icon='akar-icons:check'></span>
			NEW
		</span>
		<span
			role='status'
			class='vv-badge vv-badge--rounded vv-badge--warning'
		>
			<span class='iconify' data-icon='akar-icons:pencil'></span>
			DRAFT
		</span>
	</div>
</section>