<section id='component__vv-breadcrumb' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>vv-breadcrumb</h1>
	<h2 class='font-light text-word-3 mb-24'>Indicate the current page’s
		location within a navigational hierarchy that automatically adds
		separators via CSS.
	</h2>
	<nav class='vv-breadcrumb mb-24' aria-label='breadcrumbs'>
		<ol class='vv-breadcrumb__list'>
			<li class='vv-breadcrumb__item'>
				<a class='vv-breadcrumb__link' href='#'>Home</a>
			</li>
			<li class='vv-breadcrumb__item'>
				<a class='vv-breadcrumb__link' href='#'>Library</a>
			</li>
			<li class='vv-breadcrumb__item-active' aria-current='page'>
				My Component
			</li>
		</ol>
	</nav>
	<nav
		class='vv-breadcrumb vv-breadcrumb--multiline'
		aria-label='breadcrumbs'
	>
		<ol class='vv-breadcrumb__list'>
			<li class='vv-breadcrumb__item'>
				<a class='vv-breadcrumb__link' href='#'>Home</a>
			</li>
			<li class='vv-breadcrumb__item'>
				<a class='vv-breadcrumb__link' href='#'>Library</a>
			</li>
			<li class='vv-breadcrumb__item-active' aria-current='page'>
				My Component
			</li>
		</ol>
	</nav>
</section>