<section id='component__vv-button-group' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>vv-badge</h1>
	<h2 class='font-light text-word-3 mb-24'>Badge is a small status indicator
		for another element.
	</h2>
	<div class='mb-24'>
		<span role='status' class='vv-badge'>14</span>
		<span role='status' class='vv-badge vv-badge--black'>42</span>
		<span role='status' class='vv-badge vv-badge--danger'>8</span>
		<span role='status' class='vv-badge vv-badge--success'>NEW</span>
		<span role='status' class='vv-badge vv-badge--warning'>DRAFT</span>
	</div>
</section>