<section id='component__vv-button' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>vv-button</h1>
	<h2 class='font-light text-word-3 mb-24'>Buttons allow users to perform an
		action or to navigate to another page.
	</h2>
	<div class='mb-24 flex flex-wrap gap-8'>
		<button type='button' class='vv-button'>
			Accent
		</button>
		<button type='button' class='vv-button hover'>
			Hover
		</button>
		<button type='button' class='vv-button active'>
			Active
		</button>
		<button type='button' class='vv-button focus-visible'>
			Focus
		</button>
		<button type='button' class='vv-button' aria-disabled='true' disabled>
			Disabled
		</button>
	</div>
	<div class='mb-24 flex flex-wrap gap-8'>
		<button type='button' class='vv-button vv-button--primary'>
			Primary
		</button>
		<button type='button' class='vv-button vv-button--primary hover'>
			Hover
		</button>
		<button type='button' class='vv-button vv-button--primary active'>
			Active
		</button>
		<button class='vv-button vv-button--primary focus-visible'>
			Focus
		</button>
		<button
			type='button'
			class='vv-button vv-button--primary'
			aria-disabled='true'
			disabled
		>
			Disabled
		</button>
	</div>
	<div class='mb-24 flex flex-wrap gap-8'>
		<button type='button' class='vv-button vv-button--secondary'>
			Secondary
		</button>
		<button type='button' class='vv-button vv-button--secondary hover'>
			Hover
		</button>
		<button
			type='button'
			class='vv-button vv-button--secondary active'
		>Active</button>
		<button class='vv-button vv-button--secondary focus-visible'>
			Focus
		</button>
		<button
			class='vv-button vv-button--secondary'
			aria-disabled='true'
			disabled
		>
			Disabled
		</button>
	</div>
	<div class='mb-24 flex flex-wrap gap-8'>
		<button type='button' class='vv-button vv-button--danger'>
			Danger
		</button>
		<button type='button' class='vv-button vv-button--danger hover'>
			Hover
		</button>
		<button
			type='button'
			class='vv-button vv-button--danger active'
		>Active</button>
		<button class='vv-button vv-button--danger focus-visible'>
			Focus
		</button>
		<button
			class='vv-button vv-button--danger'
			aria-disabled='true'
			disabled
		>
			Disabled
		</button>
	</div>
	<div class='mb-24 flex flex-wrap gap-8'>
		<button type='button' class='vv-button vv-button--ghost'>Ghost</button>
		<button type='button' class='vv-button vv-button--ghost hover'>
			Hover
		</button>
		<button type='button' class='vv-button vv-button--ghost active'>
			Active
		</button>
		<button type='button' class='vv-button vv-button--ghost focus-visible'>
			Focus
		</button>
		<button
			type='button'
			class='vv-button vv-button--ghost'
			aria-disabled='true'
			disabled
		>
			Disabled
		</button>
	</div>
	<div class='mb-24 flex flex-wrap gap-8'>
		<button type='button' class='vv-button vv-button--text'>Text</button>
		<button type='button' class='vv-button vv-button--text hover'>
			Hover
		</button>
		<button type='button' class='vv-button vv-button--text active'>
			Active
		</button>
		<button type='button' class='vv-button vv-button--text focus-visible'>
			Focus
		</button>
		<button
			type='button'
			class='vv-button vv-button--text'
			aria-disabled='true'
			disabled
		>
			Disabled
		</button>
	</div>
	<div class='mb-24 flex flex-wrap gap-8'>
		<button type='button' class='vv-button vv-button--action'>
			Action
		</button>
		<button type='button' class='vv-button vv-button--action'>
			<span class='iconify' data-icon='akar-icons:pencil'></span>
			Action
		</button>
		<button type='button' class='vv-button vv-button--action'>
			<span class='iconify' data-icon='akar-icons:pencil'></span>
		</button>
		<button type='button' class='vv-button vv-button--action hover'>
			<span class='iconify' data-icon='akar-icons:pencil'></span>
			Hover
		</button>
		<button type='button' class='vv-button vv-button--action active'>
			<span class='iconify' data-icon='akar-icons:pencil'></span>
			Active
		</button>
		<button type='button' class='vv-button vv-button--action focus-visible'>
			<span class='iconify' data-icon='akar-icons:pencil'></span>
			Focus
		</button>
		<button
			type='button'
			class='vv-button vv-button--action'
			aria-disabled='true'
			disabled
		>
			<span class='iconify' data-icon='akar-icons:pencil'></span>
			Disabled
		</button>
		<button type='button' class='vv-button vv-button--action selected'>
			<span class='iconify' data-icon='akar-icons:pencil'></span>
			Selected
		</button>
	</div>
	<div class='mb-24 flex flex-wrap gap-8'>
		<button type='button' class='vv-button vv-button--action-quiet'>
			Action
		</button>
		<button type='button' class='vv-button vv-button--action-quiet'>
			<span class='iconify' data-icon='akar-icons:pencil'></span>
			Action
		</button>
		<button type='button' class='vv-button vv-button--action-quiet'>
			<span class='iconify' data-icon='akar-icons:pencil'></span>
		</button>
		<button type='button' class='vv-button vv-button--action-quiet hover'>
			<span class='iconify' data-icon='akar-icons:pencil'></span>
			Hover
		</button>
		<button type='button' class='vv-button vv-button--action-quiet active'>
			<span class='iconify' data-icon='akar-icons:pencil'></span>
			Active
		</button>
		<button
			type='button'
			class='vv-button vv-button--action-quiet focus-visible'
		>
			<span class='iconify' data-icon='akar-icons:pencil'></span>
			Focus
		</button>
		<button
			type='button'
			class='vv-button vv-button--action-quiet'
			aria-disabled='true'
			disabled
		>
			<span class='iconify' data-icon='akar-icons:pencil'></span>
			Disabled
		</button>
		<button
			type='button'
			class='vv-button vv-button--action-quiet selected'
		>
			<span class='iconify' data-icon='akar-icons:pencil'></span>
			Selected
		</button>
	</div>
	<div class='mb-24 bg-black p-16 nx-16 flex flex-wrap gap-8'>
		<button type='button' class='vv-button vv-button--static-light'>
			Static Light
		</button>
		<button type='button' class='vv-button vv-button--static-light hover'>
			Hover
		</button>
		<button type='button' class='vv-button vv-button--static-light active'>
			Active
		</button>
		<button class='vv-button vv-button--static-light focus-visible'>
			Focus
		</button>
		<button
			class='vv-button vv-button--static-light'
			aria-disabled='true'
			disabled
		>
			Disabled
		</button>
	</div>
	<div class='mb-24 bg-white p-16 nx-16 flex flex-wrap gap-8'>
		<button type='button' class='vv-button vv-button--static-dark'>
			Static Dark
		</button>
		<button type='button' class='vv-button vv-button--static-dark hover'>
			Hover
		</button>
		<button type='button' class='vv-button vv-button--static-dark active'>
			Active
		</button>
		<button class='vv-button vv-button--static-dark focus-visible'>
			Focus
		</button>
		<button
			class='vv-button vv-button--static-dark'
			aria-disabled='true'
			disabled
		>
			Disabled
		</button>
	</div>
	<div class='mb-24 flex gap-8 items-center'>
		<button type='button' class='vv-button vv-button--rounded'>
			<span class='vv-button__label'>Rounded</span>
		</button>
		<button
			type='button'
			class='vv-button vv-button--rounded vv-button--primary'
		>
			<span class='vv-button__label'>Rounded Primary</span>
		</button>
		<button
			type='button'
			class='vv-button vv-button--rounded vv-button--secondary'
		>
			<span class='vv-button__label'>Rounded Secondary</span>
		</button>
		<button type='button' class='vv-button vv-button--rounded'>
			<span class='iconify' data-icon='akar-icons:heart'></span>
		</button>
	</div>
	<div class='mb-24 xxl:columns-3 gap-8'>
		<button type='button' class='vv-button vv-button--block mb-8'>
			<span class='vv-button__label'>Block</span>
		</button>
		<button
			type='button'
			class='vv-button vv-button--block vv-button--primary mb-8'
		>
			<span class='vv-button__label'>Block Primary</span>
		</button>
		<button
			type='button'
			class='vv-button vv-button--block vv-button--secondary'
		>
			<span class='vv-button__label'>Block Secondary</span>
		</button>
	</div>
	<div class='mb-24 flex flex-wrap gap-8'>
		<a href='#' role='button' class='vv-button'>
			<span class='vv-button__label'>Link</span>
		</a>
		<a
			href='javascript:;'
			role='button'
			aria-disabled='true'
			class='vv-button disabled'
		>
			<span class='vv-button__label'>Link Disabled</span>
		</a>
		<button type='button' class='vv-button'>
			<span class='iconify' data-icon='akar-icons:heart'></span>
			<span class='vv-button__label'>Icon Left</span>
		</button>
		<button type='button' class='vv-button vv-button--reverse'>
			<span class='iconify' data-icon='akar-icons:heart'></span>
			<span class='vv-button__label'>Icon Right</span>
		</button>
	</div>
	<div class='mb-24 flex flex-wrap gap-8'>
		<button type='button' class='vv-button'>
			<span
				role='status'
				class='vv-badge vv-badge--small vv-badge--rounded vv-badge--white'
			>42</span>
			<span class='vv-button__label'>Badge left</span>
		</button>
		<button type='button' class='vv-button vv-button--reverse'>
			<span
				role='status'
				class='vv-badge vv-badge--small vv-badge--rounded vv-badge--white'
			>42</span>
			<span class='vv-button__label'>Badge Right</span>
		</button>
	</div>
	<div class='mb-24 flex flex-wrap gap-8'>
		<button
			type='button'
			class='vv-button vv-button--ghost vv-button--column'
		>
			<span class='iconify' data-icon='akar-icons:heart'></span>
			<span class='vv-button__label'>Top Icon</span>
		</button>
		<button
			type='button'
			class='vv-button vv-button--ghost vv-button--column vv-button--reverse'
		>
			<span class='iconify' data-icon='akar-icons:heart'></span>
			<span class='vv-button__label'>Bottom Icon</span>
		</button>
	</div>
	<div class='flex flex-wrap gap-8'>
		<button type='button' class='vv-button vv-button--full-bleed'>
			<span class='vv-button__label'>Full bleed</span>
		</button>
	</div>
</section>