<section id='component__vv-button-group' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>vv-button-group</h1>
	<h2 class='font-light text-word-3 mb-24'>A button group is a grouping of
		buttons whose actions are related to each other.
	</h2>
	<div class='mb-24'>
		<div class='vv-button-group' role='group'>
			<button type='button' class='vv-button'>
				First
			</button>
			<button type='button' class='vv-button'>
				Second
			</button>
			<button type='button' class='vv-button'>
				Third
			</button>
			<button type='button' class='vv-button vv-button--rounded'>
				<span class='iconify' data-icon='akar-icons:heart'></span>
			</button>
		</div>
	</div>
	<div class='mb-24'>
		<div class='vv-button-group vv-button-group--compact' role='group'>
			<button type='button' class='vv-button'>
				First
			</button>
			<button type='button' class='vv-button active'>
				Second
			</button>
			<button type='button' class='vv-button'>
				Third
			</button>
			<button type='button' class='vv-button vv-button--rounded'>
				<span class='iconify' data-icon='akar-icons:heart'></span>
			</button>
		</div>
	</div>
	<div class='mb-24'>
		<div class='vv-button-group vv-button-group--compact' role='group'>
			<button type='button' class='vv-button vv-button--primary'>
				First
			</button>
			<button type='button' class='vv-button vv-button--primary active'>
				Second
			</button>
			<button type='button' class='vv-button vv-button--primary'>
				Third
			</button>
		</div>
	</div>
	<div class='mb-24'>
		<div class='vv-button-group vv-button-group--compact' role='group'>
			<button type='button' class='vv-button vv-button--secondary'>
				First
			</button>
			<button type='button' class='vv-button vv-button--secondary active'>
				Second
			</button>
			<button type='button' class='vv-button vv-button--secondary'>
				Third
			</button>
		</div>
	</div>
	<div class='mb-24'>
		<div class='vv-button-group vv-button-group--compact' role='group'>
			<button type='button' class='vv-button vv-button--rounded'>
				First
			</button>
			<button type='button' class='vv-button vv-button--rounded active'>
				Second
			</button>
			<button type='button' class='vv-button vv-button--rounded'>
				Third
			</button>
		</div>
	</div>
	<div class='mb-24'>
		<div class='vv-button-group vv-button-group--block' role='group'>
			<button type='button' class='vv-button'>
				First
			</button>
			<button type='button' class='vv-button'>
				Second
			</button>
			<button type='button' class='vv-button'>
				Third
			</button>
		</div>
	</div>
	<div class='mb-24'>
		<div
			class='vv-button-group vv-button-group--block vv-button-group--compact'
			role='group'
		>
			<button type='button' class='vv-button vv-button--rounded'>
				First
			</button>
			<button type='button' class='vv-button vv-button--rounded active'>
				Second
			</button>
			<button type='button' class='vv-button vv-button--rounded'>
				Third
			</button>
		</div>
	</div>
	<div class='mb-24 flex gap-4'>
		<div class='vv-button-group vv-button-group--vertical' role='group'>
			<button type='button' class='vv-button'>
				First
			</button>
			<button type='button' class='vv-button'>
				Second
			</button>
			<button type='button' class='vv-button'>
				Third
			</button>
		</div>
		<div class='vv-button-group vv-button-group--vertical' role='group'>
			<button type='button' class='vv-button vv-button--primary'>
				First
			</button>
			<button type='button' class='vv-button vv-button--primary'>
				Second
			</button>
			<button type='button' class='vv-button vv-button--primary'>
				Third
			</button>
		</div>
		<div class='vv-button-group vv-button-group--vertical' role='group'>
			<button type='button' class='vv-button vv-button--secondary'>
				First
			</button>
			<button type='button' class='vv-button vv-button--secondary'>
				Second
			</button>
			<button type='button' class='vv-button vv-button--secondary'>
				Third
			</button>
		</div>
	</div>
	<div class='mb-24 flex gap-4'>
		<div
			class='vv-button-group vv-button-group--vertical vv-button-group--compact'
			role='group'
		>
			<button type='button' class='vv-button'>
				First
			</button>
			<button type='button' class='vv-button active'>
				Second
			</button>
			<button type='button' class='vv-button'>
				Third
			</button>
		</div>
		<div
			class='vv-button-group vv-button-group--vertical vv-button-group--compact'
			role='group'
		>
			<button type='button' class='vv-button vv-button--primary'>
				First
			</button>
			<button type='button' class='vv-button vv-button--primary active'>
				Second
			</button>
			<button type='button' class='vv-button vv-button--primary'>
				Third
			</button>
		</div>
		<div
			class='vv-button-group vv-button-group--vertical vv-button-group--compact'
			role='group'
		>
			<button type='button' class='vv-button vv-button--secondary'>
				First
			</button>
			<button type='button' class='vv-button vv-button--secondary active'>
				Second
			</button>
			<button type='button' class='vv-button vv-button--secondary'>
				Third
			</button>
		</div>
	</div>
</section>