<section id='component__vv-collapse' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>collapse</h1>
	<h2 class='font-light text-word-3 mb-24'>Detail is an interactive widget
		that the user can open and close on demand.
	</h2>
	<div class='mb-24'>
		<details role='group' class='collapse mb-24'>
			<summary class="vv-collapse__header">Lorem Ipsum</summary>
			<p class="vv-collapse__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
				turpis diam, tempor non sem ut, suscipit gravida mi.
			</p>
		</details>
		<details open class='vv-collapse collapse--open'>
			<summary class="vv-collapse__header">Lorem Ipsum</summary>
			<p class="vv-collapse__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
				turpis diam, tempor non sem ut, suscipit gravida mi.
			</p>
		</details>
	</div>
</section>