<section id='component__vv-dialog' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>vv-dialog</h1>
	<h2 class='font-light text-word-3 mb-24'>Dialog is a container to display
		content in an overlay window.
	</h2>
	<div class="vv-button-group">
		<button type='button' class='vv-button' onclick="openDialogWithTransition(document.getElementById('dialog'))">
			Normal
		</button>
		<button type='button' class='vv-button'
			onclick="openDialogWithTransition(document.getElementById('dialog-small'), 'fade-inline')">
			Small
		</button>
		<button type='button' class='vv-button'
			onclick="openDialogWithTransition(document.getElementById('dialog-fullscreen'), 'scale')">
			Fullscreen
		</button>
	</div>
	<dialog id='dialog' class='vv-dialog'>
		<article class='vv-dialog__wrapper'>
			<header class='vv-dialog__header'>
				Dialog title
				<button type='buttom' aria-label='Close' class='vv-dialog__close'
					onclick="closeDialogWithTransition(document.getElementById('dialog'))">
					<span class='iconify' data-icon='akar-icons:cross'></span>
				</button>
			</header>
			<div class='vv-dialog__content'>
				<p>
					Nunc nec ligula a tortor sollicitudin dictum in vel enim.
					Quisque facilisis turpis vel eros dictum aliquam et nec
					turpis. Sed eleifend a dui nec ullamcorper. Praesent
					vehicula lacus ac justo accumsan ullamcorper.
				</p>
			</div>
			<footer class='vv-dialog__footer'>
				<div class='vv-button-group' role='group'>
					<button type='button' class='vv-button vv-button--secondary'
						onclick="closeDialogWithTransition(document.getElementById('dialog'))">
						Cancel
					</button>
					<button type='button' class='vv-button'>
						Confirm
					</button>
				</div>
			</footer>
		</article>
	</dialog>
	<dialog id='dialog-small' class='vv-dialog vv-dialog--small'>
		<article class='vv-dialog__wrapper'>
			<header class='vv-dialog__header'>
				Dialog title
				<button type='buttom' aria-label='Close' class='vv-dialog__close'
					onclick="closeDialogWithTransition(document.getElementById('dialog-small'), 'fade-inline')">
					<span class='iconify' data-icon='akar-icons:cross'></span>
				</button>
			</header>
			<div class='vv-dialog__content'>
				<p>
					Nunc nec ligula a tortor sollicitudin dictum in vel enim.
					Quisque facilisis turpis vel eros dictum aliquam et nec
					turpis. Sed eleifend a dui nec ullamcorper. Praesent
					vehicula lacus ac justo accumsan ullamcorper.
				</p>
			</div>
			<footer class='vv-dialog__footer'>
				<div class='vv-button-group' role='group'>
					<button type='button' class='vv-button vv-button--secondary'
						onclick="closeDialogWithTransition(document.getElementById('dialog-small'), 'fade-inline')">
						Cancel
					</button>
					<button type='button' class='vv-button'>
						Confirm
					</button>
				</div>
			</footer>
		</article>
	</dialog>
	<dialog id='dialog-fullscreen' class='vv-dialog vv-dialog--fullscreen'>
		<article class='vv-dialog__wrapper'>
			<header class='vv-dialog__header'>
				Dialog title
				<button type='buttom' aria-label='Close' class='vv-dialog__close'
					onclick="closeDialogWithTransition(document.getElementById('dialog-fullscreen'), 'scale')">
					<span class='iconify' data-icon='akar-icons:cross'></span>
				</button>
			</header>
			<div class='vv-dialog__content'>
				<p>
					Nunc nec ligula a tortor sollicitudin dictum in vel enim.
					Quisque facilisis turpis vel eros dictum aliquam et nec
					turpis. Sed eleifend a dui nec ullamcorper. Praesent
					vehicula lacus ac justo accumsan ullamcorper.
				</p>
			</div>
			<footer class='vv-dialog__footer'>
				<div class='vv-button-group' role='group'>
					<button type='button' class='vv-button vv-button--secondary'
						onclick="closeDialogWithTransition(document.getElementById('dialog-fullscreen'), 'scale')">
						Cancel
					</button>
					<button type='button' class='vv-button'>
						Confirm
					</button>
				</div>
			</footer>
		</article>
	</dialog>
	<script>
		function openDialogWithTransition(dialog, transition = 'fade-block') {
			dialog.classList.add(`vv-dialog--${transition}-enter-from`)
			dialog.classList.add(`vv-dialog--${transition}-enter-active`)
			dialog.showModal()
			setTimeout(() => {
				dialog.classList.remove(`vv-dialog--${transition}-enter-from`)
				dialog.addEventListener('transitionend', () => {
					dialog.classList.remove(`vv-dialog--${transition}-enter-active`);
				}, { once: true });
			}, 0)
		}
		function closeDialogWithTransition(dialog, transition = 'fade-block') {
			dialog.classList.add(`vv-dialog--${transition}-leave-active`)
			dialog.classList.add(`vv-dialog--${transition}-leave-to`)
			dialog.addEventListener('transitionend', () => {
				dialog.close()
				dialog.classList.remove(`vv-dialog--${transition}-leave-active`)
				dialog.classList.remove(`vv-dialog--${transition}-leave-to`)
			}, { once: true });
		}
	</script>
</section>