<section id='component__vv-input-checkbox-group' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>vv-input-checkbox-group</h1>
	<h2 class='font-light text-word-3 mb-24'>A radio group is a grouping of
		radio buttons that are related to each other.
	</h2>
	<div class='mb-24'>
		<fieldset
			class='vv-input-checkbox-group vv-input-checkbox-group--horizontal'
		>
			<legend>Horizontal</legend>
			<label class='vv-input-checkbox' for='checkbox-group-option-1'>
				<input
					type='checkbox'
					id='checkbox-group-option-1'
					name='checkbox-group-horizontal'
					value='1'
					checked='checked'
				/>
				Option 1
			</label>
			<label class='vv-input-checkbox' for='checkbox-group-option-2'>
				<input
					type='checkbox'
					id='checkbox-group-option-2'
					name='checkbox-group-horizontal'
					value='2'
				/>
				Option 2
			</label>
			<label class='vv-input-checkbox' for='checkbox-group-option-3'>
				<input
					type='checkbox'
					id='checkbox-group-option-3'
					name='checkbox-group-horizontal'
					value='3'
				/>
				Option 3
			</label>
			<label class='vv-input-checkbox' for='checkbox-group-option-4'>
				<input
					type='checkbox'
					id='checkbox-group-option-4'
					name='checkbox-group-horizontal'
					value='4'
					disabled='disabled'
				/>
				Option 4
			</label>
		</fieldset>
	</div>
	<div>
		<fieldset class='vv-input-checkbox-group'>
			<legend>Vertical</legend>
			<label
				class='vv-input-checkbox'
				for='checkbox-group-option-vertical-1'
			>
				<input
					type='checkbox'
					id='checkbox-group-option-vertical-1'
					name='checkbox-group-vertical'
					value='1'
					checked='checked'
				/>
				Option 1
			</label>
			<label
				class='vv-input-checkbox'
				for='checkbox-group-option-vertical-2'
			>
				<input
					type='checkbox'
					id='checkbox-group-option-vertical-2'
					name='checkbox-group-vertical'
					value='2'
				/>
				Option 2
			</label>
			<label
				class='vv-input-checkbox'
				for='checkbox-group-option-vertical-3'
			>
				<input
					type='checkbox'
					id='checkbox-group-option-vertical-3'
					name='checkbox-group-vertical'
					value='3'
				/>
				Option 3
			</label>
			<label
				class='vv-input-checkbox'
				for='checkbox-group-option-vertical-4'
			>
				<input
					type='checkbox'
					id='checkbox-group-option-vertical-4'
					name='checkbox-group-vertical'
					value='4'
					disabled='disabled'
				/>
				Option 4
			</label>
		</fieldset>
	</div>
</section>