<section id='component__vv-input-checkbox' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>vv-input-checkbox</h1>
	<h2 class='font-light text-word-3 mb-24'>Checkboxes allow users to select
		multiple items from a list of individual items, or to mark one
		individual item as selected.
	</h2>
	<div class='mb-24'>
		<label class='vv-input-checkbox readonly' for='checkbox-option'>
			<input
				type='checkbox'
				id='checkbox-option'
				name='checkbox-option'
				value='checkbox-option'
				onclick='javascript: return false;'
				tabindex='-1'
			/>
			Option
		</label>
		<label class='vv-input-checkbox' for='checkbox-option-checked'>
			<input
				type='checkbox'
				id='checkbox-option-checked'
				name='checkbox-option-checked'
				value='checkbox-option-checked'
				checked='checked'
			/>
			Checked
		</label>
		<label class='vv-input-checkbox' for='checkbox-option-checked'>
			<input
				type='checkbox'
				id='checkbox-option-focus'
				name='checkbox-option-focus'
				value='checkbox-option-focus'
				checked='checked'
				class='focus-visible'
			/>
			Focus
		</label>
		<label class='vv-input-checkbox' for='checkbox-option-disabled'>
			<input
				type='checkbox'
				id='checkbox-option-disabled'
				name='checkbox-option-disabled'
				value='checkbox-option-disabled'
				disabled='disabled'
			/>
			Disabled
		</label>
		<label class='vv-input-checkbox' for='checkbox-option-disabled-checked'>
			<input
				type='checkbox'
				id='checkbox-option-disabled-checked'
				name='checkbox-option-disabled-checked'
				value='checkbox-option-disabled-checked'
				disabled='disabled'
				checked='checked'
			/>
			Disabled Checked
		</label>
	</div>
	<div class='mb-24'>
		<label
			class='vv-input-checkbox vv-input-checkbox--partial readonly'
			for='checkbox-indeterminate-option'
		>
			<input
				type='checkbox'
				id='checkbox-indeterminate-option'
				name='checkbox-indeterminate-option'
				value='checkbox-indeterminate-option'
				onclick='javascript: return false;'
				tabindex='-1'
			/>
			Option
		</label>
		<label
			class='vv-input-checkbox'
			for='checkbox-indeterminate-option-checked'
		>
			<input
				type='checkbox'
				id='checkbox-indeterminate-option-checked'
				name='checkbox-indeterminate-option-checked'
				value='checkbox-indeterminate-option-checked'
			/>
			Checked
		</label>
		<script>
			const checkbox =
			document.getElementById("checkbox-indeterminate-option-checked");
			checkbox.indeterminate = true;
		</script>
		<label
			class='vv-input-checkbox indeterminate'
			for='checkbox-indeterminate-option-checked'
		>
			<input
				type='checkbox'
				id='checkbox-indeterminate-option-focus'
				name='checkbox-indeterminate-option-focus'
				value='checkbox-indeterminate-option-focus'
				checked='checked'
				class='focus-visible indeterminate'
			/>
			Focus
		</label>
		<label
			class='vv-input-checkbox'
			for='checkbox-indeterminate-option-disabled'
		>
			<input
				type='checkbox'
				id='checkbox-indeterminate-option-disabled'
				name='checkbox-indeterminate-option-disabled'
				value='checkbox-indeterminate-option-disabled'
				disabled='disabled'
			/>
			Disabled
		</label>
		<label
			class='vv-input-checkbox indeterminate'
			for='checkbox-indeterminate-option-disabled-checked'
		>
			<input
				type='checkbox'
				id='checkbox-indeterminate-option-disabled-checked'
				name='checkbox-indeterminate-option-disabled-checked'
				value='checkbox-indeterminate-option-disabled-checked'
				disabled='disabled'
				class='indeterminate'
			/>
			Disabled Checked
		</label>
	</div>
	<label
		class='vv-input-checkbox vv-input-checkbox--switch readonly'
		for='switch-option'
	>
		<input
			type='checkbox'
			role='switch'
			id='switch-option'
			name='switch-option'
			value='switch-option'
			onclick='javascript: return false;'
			tabindex='-1'
		/>
		Option
	</label>
	<label
		class='vv-input-checkbox vv-input-checkbox--switch'
		for='switch-option-checked'
	>
		<input
			type='checkbox'
			role='switch'
			id='switch-option-checked'
			name='switch-option-checked'
			value='switch-option-checked'
			checked='checked'
		/>
		Checked
	</label>
	<label
		class='vv-input-checkbox vv-input-checkbox--switch'
		for='switch-option-checked'
	>
		<input
			type='checkbox'
			role='switch'
			id='switch-option-focus'
			name='switch-option-focus'
			value='switch-option-focus'
			checked='checked'
			class='focus-visible'
		/>
		Focus
	</label>
	<label
		class='vv-input-checkbox vv-input-checkbox--switch'
		for='switch-option-disabled'
	>
		<input
			type='checkbox'
			role='switch'
			id='switch-option-disabled'
			name='switch-option-disabled'
			value='switch-option-disabled'
			disabled='disabled'
		/>
		Disabled
	</label>
	<label
		class='vv-input-checkbox vv-input-checkbox--switch'
		for='switch-option-disabled-checked'
	>
		<input
			type='checkbox'
			role='switch'
			id='switch-option-disabled-checked'
			name='switch-option-disabled-checked'
			value='switch-option-disabled-checked'
			disabled='disabled'
			checked='checked'
		/>
		Disabled Checked
	</label>
</section>