<section id='component__vv-input-checkbox-group' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>vv-input-checkbox-group</h1>
	<h2 class='font-light text-word-3 mb-24'>A radio group is a grouping of
		radio buttons that are related to each other.
	</h2>
	<fieldset
		class='vv-input-checkbox-group vv-input-checkbox-group--horizontal'
	>
		<legend>Horizontal</legend>
		<div class='vv-input-checkbox-group__wrapper'>
			<label class='vv-input-checkbox' for='checkbox-group-option-1'>
				<input
					type='checkbox'
					id='checkbox-group-option-1'
					name='checkbox-group-horizontal'
					value='1'
					checked='checked'
					aria-describedby='checkbox-group-horizontal-hint'
				/>
				Option 1
			</label>
			<label class='vv-input-checkbox' for='checkbox-group-option-2'>
				<input
					type='checkbox'
					id='checkbox-group-option-2'
					name='checkbox-group-horizontal'
					value='2'
					aria-describedby='checkbox-group-horizontal-hint'
				/>
				Option 2
			</label>
			<label class='vv-input-checkbox' for='checkbox-group-option-3'>
				<input
					type='checkbox'
					id='checkbox-group-option-3'
					name='checkbox-group-horizontal'
					value='3'
					aria-describedby='checkbox-group-horizontal-hint'
				/>
				Option 3
			</label>
			<label class='vv-input-checkbox' for='checkbox-group-option-4'>
				<input
					type='checkbox'
					id='checkbox-group-option-4'
					name='checkbox-group-horizontal'
					value='4'
					disabled='disabled'
					aria-describedby='checkbox-group-horizontal-hint'
				/>
				Option 4
			</label>
		</div>
		<small
			id='checkbox-group-horizontal-hint'
			class='vv-input-checkbox-group__hint'
		>
			Please fill the input above.
		</small>
	</fieldset>
	<fieldset class='vv-input-checkbox-group'>
		<legend>Vertical</legend>
		<div class='vv-input-checkbox-group__wrapper'>
			<label
				class='vv-input-checkbox'
				for='checkbox-group-option-vertical-1'
			>
				<input
					type='checkbox'
					id='checkbox-group-option-vertical-1'
					name='checkbox-group-vertical'
					value='1'
					checked='checked'
					aria-describedby='checkbox-group-vertical-hint'
				/>
				Option 1
			</label>
			<label
				class='vv-input-checkbox'
				for='checkbox-group-option-vertical-2'
			>
				<input
					type='checkbox'
					id='checkbox-group-option-vertical-2'
					name='checkbox-group-vertical'
					value='2'
					aria-describedby='checkbox-group-vertical-hint'
				/>
				Option 2
			</label>
			<label
				class='vv-input-checkbox'
				for='checkbox-group-option-vertical-3'
			>
				<input
					type='checkbox'
					id='checkbox-group-option-vertical-3'
					name='checkbox-group-vertical'
					value='3'
					aria-describedby='checkbox-group-vertical-hint'
				/>
				Option 3
			</label>
			<label
				class='vv-input-checkbox'
				for='checkbox-group-option-vertical-4'
			>
				<input
					type='checkbox'
					id='checkbox-group-option-vertical-4'
					name='checkbox-group-vertical'
					value='4'
					disabled='disabled'
					aria-describedby='checkbox-group-vertical-hint'
				/>
				Option 4
			</label>
		</div>
		<small
			id='checkbox-group-vertical-hint'
			class='vv-input-checkbox-group__hint'
		>
			Please fill the input above.
		</small>
	</fieldset>
	<fieldset class='vv-input-checkbox-group vv-input-checkbox-group--valid'>
		<legend>Vertical Valid</legend>
		<div class='vv-input-checkbox-group__wrapper'>
			<label
				class='vv-input-checkbox'
				for='checkbox-group-option-vertical-invalid-1'
			>
				<input
					type='checkbox'
					id='checkbox-group-option-vertical-valid-1'
					name='checkbox-group-vertical-valid'
					value='1'
					checked='checked'
					aria-describedby='checkbox-group-vertical-valid-hint'
				/>
				Option 1
			</label>
			<label
				class='vv-input-checkbox'
				for='checkbox-group-option-vertical-valid-2'
			>
				<input
					type='checkbox'
					id='checkbox-group-option-vertical-valid-2'
					name='checkbox-group-vertical-valid'
					value='2'
					aria-describedby='checkbox-group-vertical-valid-hint'
				/>
				Option 2
			</label>
			<label
				class='vv-input-checkbox'
				for='checkbox-group-option-vertical-valid-3'
			>
				<input
					type='checkbox'
					id='checkbox-group-option-vertical-valid-3'
					name='checkbox-group-vertical-valid'
					value='3'
					aria-describedby='checkbox-group-vertical-valid-hint'
				/>
				Option 3
			</label>
			<label
				class='vv-input-checkbox'
				for='checkbox-group-option-vertical-valid-4'
			>
				<input
					type='checkbox'
					id='checkbox-group-option-vertical-valid-4'
					name='checkbox-group-vertical-valid'
					value='4'
					disabled='disabled'
					aria-describedby='checkbox-group-vertical-valid-hint'
				/>
				Option 4
			</label>
		</div>
		<small
			id='checkbox-group-vertical-valid-hint'
			class='vv-input-checkbox-group__hint'
		>
			The input above is successful.
		</small>
	</fieldset>
	<fieldset class='vv-input-checkbox-group vv-input-checkbox-group--invalid'>
		<legend>Vertical Invalid</legend>
		<div class='vv-input-checkbox-group__wrapper'>
			<label
				class='vv-input-checkbox'
				for='checkbox-group-option-vertical-invalid-1'
			>
				<input
					type='checkbox'
					id='checkbox-group-option-vertical-invalid-1'
					name='checkbox-group-vertical-invalid'
					value='1'
					checked='checked'
					aria-describedby='checkbox-group-vertical-invalid-hint'
				/>
				Option 1
			</label>
			<label
				class='vv-input-checkbox'
				for='checkbox-group-option-vertical-invalid-2'
			>
				<input
					type='checkbox'
					id='checkbox-group-option-vertical-invalid-2'
					name='checkbox-group-vertical-invalid'
					value='2'
					aria-describedby='checkbox-group-vertical-invalid-hint'
				/>
				Option 2
			</label>
			<label
				class='vv-input-checkbox'
				for='checkbox-group-option-vertical-invalid-3'
			>
				<input
					type='checkbox'
					id='checkbox-group-option-vertical-invalid-3'
					name='checkbox-group-vertical-invalid'
					value='3'
					aria-describedby='checkbox-group-vertical-invalid-hint'
				/>
				Option 3
			</label>
			<label
				class='vv-input-checkbox'
				for='checkbox-group-option-vertical-invalid-4'
			>
				<input
					type='checkbox'
					id='checkbox-group-option-vertical-invalid-4'
					name='checkbox-group-vertical-invalid'
					value='4'
					disabled='disabled'
					aria-describedby='checkbox-group-vertical-invalid-hint'
				/>
				Option 4
			</label>
		</div>
		<small
			id='checkbox-group-vertical-invalid-hint'
			class='vv-input-checkbox-group__hint'
		>
			There was an error with the input above.
		</small>
	</fieldset>
</section>