<section id='component__vv-input-radio' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>vv-input-radio</h1>
	<h2 class='font-light text-word-3 mb-24'>A radio allows the user to select
		one option from a set.
	</h2>
	<label class='vv-input-radio readonly' for='option'>
		<input
			type='radio'
			id='option'
			name='option'
			value='option'
			onclick='javascript: return false;'
			tabindex='-1'
		/>
		Option
	</label>
	<label class='vv-input-radio' for='option-checked'>
		<input
			type='radio'
			id='option-checked'
			name='option-checked'
			value='option-checked'
			checked='checked'
		/>
		Checked
	</label>
	<label class='vv-input-radio' for='option-checked'>
		<input
			type='radio'
			id='option-focus'
			name='option-focus'
			value='option-focus'
			checked='checked'
			class='focus-visible'
		/>
		Focus
	</label>
	<label class='vv-input-radio' for='option-disabled'>
		<input
			type='radio'
			id='option-disabled'
			name='option-disabled'
			value='option-disabled'
			disabled='disabled'
		/>
		Disabled
	</label>
</section>