<section id='component__vv-input-radio-group' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>vv-input-radio-group</h1>
	<h2 class='font-light text-word-3 mb-24'>A radio group is a grouping of
		radio buttons that are related to each other.
	</h2>
	<div class='mb-24'>
		<fieldset class='vv-input-radio-group vv-input-radio-group--horizontal'>
			<legend>Horizontal</legend>
			<label class='vv-input-radio' for='radio-group-option-1'>
				<input
					type='radio'
					id='radio-group-option-1'
					name='radio-group-horizontal'
					value='1'
					checked='checked'
				/>
				Option 1
			</label>
			<label class='vv-input-radio' for='radio-group-option-2'>
				<input
					type='radio'
					id='radio-group-option-2'
					name='radio-group-horizontal'
					value='2'
				/>
				Option 2
			</label>
			<label class='vv-input-radio' for='radio-group-option-3'>
				<input
					type='radio'
					id='radio-group-option-3'
					name='radio-group-horizontal'
					value='3'
				/>
				Option 3
			</label>
			<label class='vv-input-radio' for='radio-group-option-4'>
				<input
					type='radio'
					id='radio-group-option-4'
					name='radio-group-horizontal'
					value='4'
					disabled='disabled'
				/>
				Option 4
			</label>
		</fieldset>
	</div>
	<div>
		<fieldset class='vv-input-radio-group'>
			<legend>Vertical</legend>
			<label class='vv-input-radio' for='radio-group-option-vertical-1'>
				<input
					type='radio'
					id='radio-group-option-vertical-1'
					name='radio-group-vertical'
					value='1'
					checked='checked'
				/>
				Option 1
			</label>
			<label class='vv-input-radio' for='radio-group-option-vertical-2'>
				<input
					type='radio'
					id='radio-group-option-vertical-2'
					name='radio-group-vertical'
					value='2'
				/>
				Option 2
			</label>
			<label class='vv-input-radio' for='radio-group-option-vertical-3'>
				<input
					type='radio'
					id='radio-group-option-vertical-3'
					name='radio-group-vertical'
					value='3'
				/>
				Option 3
			</label>
			<label class='vv-input-radio' for='radio-group-option-vertical-4'>
				<input
					type='radio'
					id='radio-group-option-vertical-4'
					name='radio-group-vertical'
					value='4'
					disabled='disabled'
				/>
				Option 4
			</label>
		</fieldset>
	</div>
</section>