<section id='component__vv-input-radio' class='mb-32'>
	<h1 class='text-20 text-word-2 mb-8'>vv-input-radio</h1>
	<h2 class='font-light text-word-3 mb-24'>A radio allows the user to select
		one option from a set.
	</h2>
	<label class='vv-input-radio' for='radio-option'>
		<input
			type='radio'
			id='radio-option'
			name='radio-option'
			value='radio-option'
		/>
		Option
	</label>
	<label class='vv-input-radio' for='radio-option-checked'>
		<input
			type='radio'
			id='radio-option-checked'
			name='radio-option-checked'
			value='radio-option-checked'
			checked='checked'
		/>
		Checked
	</label>
	<label class='vv-input-radio' for='radio-option-checked'>
		<input
			type='radio'
			id='radio-option-focus'
			name='radio-option-focus'
			value='radio-option-focus'
			checked='checked'
			class='focus-visible'
		/>
		Focus
	</label>
	<label class='vv-input-radio' for='radio-option-disabled'>
		<input
			type='radio'
			id='radio-option-disabled'
			name='radio-option-disabled'
			value='radio-option-disabled'
			disabled='disabled'
		/>
		Disabled
	</label>
	<label class='vv-input-radio' for='radio-option-disabled-checked'>
		<input
			type='radio'
			id='radio-option-disabled-checked'
			name='radio-option-disabled-checked'
			value='radio-option-disabled-checked'
			disabled='disabled'
			checked='checked'
		/>
		Disabled Checked
	</label>
	<label class='vv-input-radio readonly' for='radio-option-readonly'>
		<input
			type='radio'
			id='radio-option-readonly'
			name='radio-option-readonly'
			value='radio-option-readonly'
			disabled='disabled'
			tabindex='-1'
		/>
		Readonly
	</label>
	<label class='vv-input-radio readonly' for='radio-option-readonly-checked'>
		<input
			type='radio'
			id='radio-option-readonly-checked'
			name='radio-option-readonly-checked'
			value='radio-option-readonly-checked'
			disabled='disabled'
			checked='checked'
			tabindex='-1'
		/>
		Readonly Checked
	</label>
</section>