@use 'sass:meta';
@use 'sass:map';
@use 'sass:color';
@use 'sass:string';
@use 'sass:list';
@use 'sass:math';

@function hsla-map($color, $name) {
	@return (
		hue: color.hue($color),
		saturation: color.saturation($color),
		lightness: color.lightness($color),
		#{$name}: hsla(var(--color-#{$name}-hue)
					var(--color-#{$name}-saturation)
					var(--color-#{$name}-lightness) / color.alpha($color))
	);
}

@function alpha-color($name, $alpha) {
	@return hsla(
		var(--color-#{$name}-hue) var(--color-#{$name}-saturation)
			var(--color-#{$name}-lightness) / #{$alpha}
	);
}

@function hex-to-rgb($hex) {
	@return red($hex), green($hex), blue($hex);
}

@function color-alpha-map($color, $name, $steps: 9, $scale: 10%) {
	$result: hsla-map($color, $name);
	@for $index from 1 to ($steps + 1) {
		$result: map.merge(
			$result,
			(#{$index}: alpha-color($name, $index * $scale))
		);
	}
	@return $result;
}

@function color-shades-map(
	$color,
	$name,
	$steps: 5,
	$scale: 10%,
	$fixed: false
) {
	$result: map.merge(
		map.merge(
			(#{$name}: $color),
			color-lighten-map($color, $name, $steps, $scale, 'lighten', $fixed)
		),
		color-darken-map($color, $name, $steps, $scale, 'darken', $fixed)
	);
	@return $result;
}

@function color-lighten-map(
	$color,
	$name,
	$steps: 5,
	$scale: 10%,
	$prefix: '',
	$fixed: false
) {
	$result: hsla-map($color, $name);
	@for $index from 1 to ($steps + 1) {
		$key: $index;
		@if $prefix != '' {
			$key: $prefix + '-' + $index;
		}

		@if $fixed {
			$increment: $scale * $index;
			$result: map.merge(
				$result,
				(
					#{$key}:
						hsl(
							var(--color-#{$name}-hue)
								var(--color-#{$name}-saturation)
								calc(
									var(--color-#{$name}-lightness) +
										#{$increment}
								)
						)
				)
			);
		} @else {
			$increment: math.div($scale * $index, 100);
			$increment: math.div($increment, ($increment * 0 + 1));
			$result: map.merge(
				$result,
				(
					#{$key}:
						hsl(
							var(--color-#{$name}-hue)
								var(--color-#{$name}-saturation)
								calc(
									var(--color-#{$name}-lightness) +
										var(--color-#{$name}-lightness) *
										#{$increment}
								)
						)
				)
			);
		}
	}
	@return $result;
}

@function color-darken-map(
	$color,
	$name,
	$steps: 5,
	$scale: 10%,
	$prefix: '',
	$fixed: false
) {
	$result: hsla-map($color, $name);

	@for $index from 1 to ($steps + 1) {
		$key: $index;
		@if $prefix != '' {
			$key: $prefix + '-' + $index;
		}

		@if $fixed {
			$decrement: $scale * $index;
			$result: map.merge(
				$result,
				(
					#{$key}:
						hsl(
							var(--color-#{$name}-hue)
								var(--color-#{$name}-saturation)
								calc(
									var(--color-#{$name}-lightness) -
										#{$decrement}
								)
						)
				)
			);
		} @else {
			$decrement: math.div($scale * $index, 100);
			$decrement: math.div($decrement, ($decrement * 0 + 1));
			$result: map.merge(
				$result,
				(
					#{$key}:
						hsl(
							var(--color-#{$name}-hue)
								var(--color-#{$name}-saturation)
								calc(
									var(--color-#{$name}-lightness) -
										var(--color-#{$name}-lightness) *
										#{$decrement}
								)
						)
				)
			);
		}
	}
	@return $result;
}

@function str-replace($string, $search, $replace: '') {
	$index: string.index($string, $search);

	@if $index {
		@return string.slice($string, 1, $index - 1) + $replace +
			str-replace(
				string.slice($string, $index + string.length($search)),
				$search,
				$replace
			);
	}

	@return $string;
}

@function str-split($string, $separator) {
	$split-arr: ();
	$index: string.index($string, $separator);

	@while $index != null {
		$item: string.slice($string, 1, $index - 1);
		$split-arr: list.append($split-arr, $item);
		$string: string.slice($string, $index + 1);
		$index: string.index($string, $separator);
	}

	$split-arr: list.append($split-arr, $string);

	@return $split-arr;
}

@function list-to-string($list, $glue: ', ') {
	$result: null;

	@for $i from 1 through length($list) {
		$e: list.nth($list, $i);

		@if $result and $e {
			$result: $result + $glue + $e;
		} @else if $e {
			$result: $e;
		}
	}

	@return $result;
}
